[2017-04-26 20:50] SimonLab opened #2 "voice recognition api?"
Which one is the best?
- https://cloud.google.com/speech/ ?
- https://www.houndify.com/
	              Free	Small	Medium	Large	Enterprise
Monthly Price	$0	$99	$249	$749	Contact Us
Included Credits	100/day	500/day	2,000/day	10,000/day	Custom

- using the browser:
  - https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API/Using_the_Web_Speech_API
  - api, https://www.labnol.org/software/add

[2017-04-27 09:59] SimonLab commented on #2
So I have now a better view:

w3c provide a webSpeechApi which can be use directly from the browser. However it doesn't seem yet implemented on Safari (mobile and desktop). This would be the easy/quicker way to implement voice recognition if the compatibility wasn't an issue. It seems also that each browser would use their own system to convert audio to text which might give different result depen

[2017-04-27 10:43] SimonLab commented on #2
This article looks nice, I'm going to use it to try to record audio from the browser before sending it to houndify or google speech api

[2017-04-27 14:00] SimonLab opened #3 "How to record microphone on Safari (Desktop and iOS)?"
# Context
web app that allow user to search research papers by terms by querying a medical specific domain api. For example the search "Is water good for me?" will return a list of articles linked to the question.
The search is already working and the app can return a list of results see https://best-evidence.herokuapp.com/

# Problem that we are trying to solve:
The users (doctors) will want to b

[2017-07-11 13:16] harrygfox opened #5 "Enter Login Details as Infrequently as Possible"
As a user
I want to use the app without logging in
So that I don't waste time (on my rounds / in the ward)

This feature is of paramount importance to the users according to Amanda and Jose.

## How might we achieve this?

[2017-07-11 13:22] harrygfox opened #6 "No Consent to Access Notes - Data Gathering"
As a user
I do not want to give consent to the admins viewing the content of my notes
So that I can use them however I choose (outside duty of care)

As administrators we still want to gather data about **how much** a person uses the notes functionality - but we would not have access to the content of the notes.

[2017-07-11 13:29] harrygfox opened #7 "Feedback banner and email address"
**As a**... user
**I can**... provide written feedback about the app (and particularly the page I am currently on)
**So that**... the app can be improved and new or different features implemented.

- [x] A banner displays at the top of the app (on all pages) with the option to give feedback, similar to:
![image](https://user-images.githubusercontent.com/6057298/28272408-4f86a5a0-6b03-11e7-86af-6c6

[2017-07-11 13:43] harrygfox opened #8 "Sharing Notes and Papers"
What are the options?

Peer-to-peer
Email
etc

Amanda suggested some interest in "sharing to Facebook group" or "emailing to a collegaue" and wanted to know what the options were for including multiple ways of sharing things.

[2017-07-17 10:57] markwilliamfirth opened #9 "Wireframes and style guide"
These have been created by Harry

https://invis.io/ECCIB2AGY

[2017-07-17 10:57] markwilliamfirth opened #10 "Initial Setup"
- [x] #11 Systems architecture planning
- [x] #50 Set up tachyons for css styling
- [x] #12 Database setup
- [x]  Environment setup - setting up hosting and domain, server and development tools
- [x] #37 PWA - Install to home screen spike - looks possible, implementation lower priority
- [x] create developer gmail account and heroku account
- [x] #43 transfer the current heroku (spike) app to the

[2017-07-17 10:57] markwilliamfirth opened #11 "Systems architecture planning"
Systems architecture planning

[2017-07-17 10:57] markwilliamfirth opened #12 "Database setup"
Database setup (where will data be stored, how does it need to be retrieved/analysed/formatted)

[2017-07-17 10:58] markwilliamfirth opened #13 "Simple registration and login for users"
Simple registration and login for users, to allow us to tie searches to a user ID as well as to set up the required access for sprint 2 features (such as search history review and notes). Does not include user categories (as seen in wireframes) in this issue, these will be added later as a lower priority.

**Sign Up**
- [x]  Users sign up using email and creating 6 char min password
- [x]  Users a

[2017-07-17 10:58] markwilliamfirth opened #14 "Setup access to the TRIP database via API"
- [x]  @SimonLab @ajburls - to check we have access to the API that we need
- [x]  Setup access to the TRIP database via API

[2017-07-17 10:58] markwilliamfirth opened #15 "Simple TRIP database search"
Simple TRIP database search ensuring the search is working and displays the number of results as well as all of the required information available through the API (e.g. title and sub-title as per TRIP, level of evidence pyramid)

Linked to #14

<img src="https://user-images.githubusercontent.com/16775804/28272766-61ab72be-6b04-11e7-9725-e1e5cec6ec94.png" width=250 />
*Note: not including the histo

[2017-07-17 10:58] markwilliamfirth opened #16 "Pagination of search results"
Pagination of search results

[2017-07-17 10:58] markwilliamfirth opened #17 "Search History"
Saving of all searches to database for future admin access
- [x] Saving search history (not on view) #35
- [x] View of recent searches ( #34 ):
<img src="https://user-images.githubusercontent.com/16775804/28274086-cfa9e414-6b07-11e7-805c-1f80e2a17c65.png" width=250px />

- [x] History (excluding history indicating which articles/searches had notes) #71

<img src="https://user-images.githubusercont

[2017-07-17 10:59] markwilliamfirth opened #18 "Sharing of Notes by Email"
Addition of simple share icon on articles which do not currently share content but rather tracks the number of times people click on this to infer whether sharing content is a requirement (this is dependent on how we get the data back from the TRIP database)

[2017-07-17 10:59] markwilliamfirth opened #19 "Basic Google Analytics"
Implementation of Google Analytics at a basic level to track page views

- [x]  Add GA script to track page views for individual pages
- [x]  Create filter so that traffic to staging does not impact production site's data
- [x]  Set up tag manager

[2017-07-17 11:55] #9 closed

[2017-07-17 11:58] markwilliamfirth opened #20 "Admin Functionality"
Amanda's account will have access to a page called 'admin' which can be accessed from her settings page.

At its most basic, the page will be a table with 2 columns, the first will be an anonymised user id, the second will be a list of searches made.

Potential additions: date of search, articles clicked, notes made for search, notes made for publications. The time estimates will need to be made f

[2017-07-17 11:58] markwilliamfirth opened #21 "Complex Informed Consent"
Complex Informed Consent

[2017-07-17 11:58] markwilliamfirth opened #22 "Notes"
Starting **only** with the **blank field for notes**.

**Search functionality**
- [x] Functionality to create a new note about a search (T1d)
- [x] Show searches with notes on all notes page
- [x] A view of an existing note (on which you can also edit and save the note)
- [x] 'Add a note' icon next to instances of search history in 'recent searches' section (T1.5h)
- [x] 'Add a note' icon next to

[2017-07-17 11:59] markwilliamfirth opened #23 "Initial About Us Page Implementation"
**As** an existing / prospective BE user
**I want to** know about how BE is run and whom it is run by
**So that** I can trust the credibility of the resource to make me feel comfortable using it.

- [x] Create About Page
- [x] Page can be accessed via the landing page and via the search page
- [x] Include link on About page to take user to either logged in or out homepage
- [x] Awaiting copy from

[2017-07-17 12:00] markwilliamfirth opened #24 "User Settings: Create User Settings Page"
User Settings

As a product owner
I would like a user settings page (designed below)
So that users can have a page where they will (functionality depending) be able to change their speciality, email address and password

This page will be accessed by the cog on the bottom bar shown in Harry's wireframes #9 #125

<img width="373" alt="screen shot 2017-08-11 at 14 51 19" src="https://user-images.git

[2017-07-17 12:01] markwilliamfirth opened #25 "Filtering of Searches: Evidence Type & Triangle rating"
Filtering of searches as per TRIP categorisation

- [x]  Evidence Type by pop up menu
- [x]  Triangle rating

<img src="https://user-images.githubusercontent.com/16775804/28272918-cb3fdda0-6b04-11e7-8e4b-1076cca3d28c.png" width=250px />

Linked to #133 #134

[2017-07-17 12:02] markwilliamfirth opened #26 "Tracking Article Click-throughs using Google Analytics"
Detailed implementation of Google Analytics to track click-throughs to articles and linking of article click-throughs to the search query (the latter will require more research to understand how this can be done in Google Analytics)

- [ ] Tracking the number of times a publication is clicked on (regardless of search terms used)

- [ ] Tracking the number of times a publication is clicked on accor

[2017-07-17 12:19] nelsonic commented on #11
@markwilliamfirth guessing this is a "_holding_" issue for now?
![image](https://user-images.githubusercontent.com/194400/28267565-87e0b398-6af2-11e7-8a3f-d737fb8ee2bd.png)
(_please add description and/or checklist of what's required from me. thanks!_)

[2017-07-17 13:42] markwilliamfirth opened #27 "Do GitHub Training with Amanda"
As a scrum master for the best evidence project
I need our product owner to be an effective and confident user of GitHub
So that we can work in an effective team to complete the best evidence project on GitHub

- [x] Get Amanda signed up to GitHub

- [x] Show Amanda GitHub functionality

[2017-07-17 13:43] ajburls commented on #27
OK I have had first meeting with you

[2017-07-17 13:46] markwilliamfirth commented on #27
Relates to #17

[2017-07-17 13:48] markwilliamfirth commented on #26
Test @ajburls watching

[2017-07-17 14:04] ajburls opened #28 "Use of app in protected NHS or health service environments"
As NHS/OSAKITEZA user
I need to be able to access the application within NHS wifi
So that I can use it in real time at work

[2017-07-17 14:08] SimonLab commented on #28
I will create a dummy page on Heroku like this @ajburls you can first see if Heroku is blocked or not.

[2017-07-17 14:10] markwilliamfirth opened #29 "Complex Registration"
- Forgotten password
- Double consent

[2017-07-17 14:13] ajburls opened #30 "Application Domain"
As product owner
I need to have a domain where the project can be hosted following the apps development
So that the project is independent

[2017-07-17 14:41] SimonLab commented on #25
These are the filters we need to display on the mobile view:
![image](https://user-images.githubusercontent.com/6057298/28273408-38c5e800-6b06-11e7-968f-1e7ca7252b27.png)
The main two important are "secondary evidence" and "guidelines"
@harrygfox do you have an idea on how to display this list nicely on the application?

[2017-07-17 14:47] markwilliamfirth commented on #2
@SimonLab ok to close?

[2017-07-17 14:47] markwilliamfirth commented on #3
@SimonLab ok to close?

[2017-07-17 15:07] ajburls opened #31 "Decide on trigger questions for notes"
As a user of the app
It would be helpful to have trigger questions in the notes sections for both queries and individual papers in addition to the blank note section.
In order to help me remember my views [this also useful for product owner and researchers to see how app being used]

First step is for Jose and Amanda to decide wording/responses of core trigger questions.

[2017-07-17 15:08] markwilliamfirth commented on #5
We've noted this requirement and agreed with Amanda that logging in once on a web app and the device remembering the login information is sufficient

[2017-07-17 15:14] markwilliamfirth opened #32 "Lazy Loading"
Only load search results when they are required

[2017-07-17 15:14] markwilliamfirth opened #33 "Simple Loading Cap"
At first only load the first 25 - 30 search results

Later #32

[2017-07-17 15:18] iteles commented on #3
@markwilliamfirth This research needs to be recorded in our documentation before we close

[2017-07-17 15:20] markwilliamfirth commented on #27
This was completed

[2017-07-17 15:20] #27 closed

[2017-07-17 15:22] markwilliamfirth commented on #33
Linked to #15

[2017-07-17 15:25] markwilliamfirth opened #34 "View of recent searches"
Linked to #35

<img src="https://user-images.githubusercontent.com/5732209/28275659-7ac95466-6b0c-11e7-9858-0869087b9eb7.png" width=280px />

[2017-07-17 15:25] Cleop opened #35 "Save search history data (not with UI)"
Functionality without UI:

- [x] Save the search terms data
- [x] Save the publication clicks data

[2017-07-17 15:27] ajburls commented on #25
Personally, I think it would be nice if the sub-menus could be closed and open on clicking if this is not too technically challenging.

[2017-07-17 15:28] ajburls commented on #14
Introduction email sent to Jon Brassey.

[2017-07-17 15:34] ajburls opened #36 "Badging and colour"
As the product owner
I would like the application to follow City University branding guidelines (the minimum requirement is to use City colours and the logo)
In order for it to appeal to my stakeholders

[written by Mark to replace lack of description - the above is a summary of what Amanda said during sprint planning]

[2017-07-17 21:43] SimonLab opened #37 "Progressive web app - install to home screen"
As a developer I need to have a spike on progressive web app and especially the "install on home screen" feature in order to decide what are the technical blockers.

[2017-07-18 09:07] ajburls opened #38 "Please invite Dr Jose Emparanza"
As a co-product owner
Dr Jose Emparanza (github ID: joseempa) needs to be invited to the BesetEvidence Github
So he can add issues directly himself

[2017-07-18 09:12] Cleop commented on #37
https://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/

[2017-07-18 10:11] markwilliamfirth commented on #38
@joseempa I've sent you an invitation!

[2017-07-18 10:24] SimonLab opened #39 "Add contributing guide"
As a new contributor to the project I want to know the guidelines and rules to contributing to the project so I can create issues and give feedback as soon as possible following the dwyl process.

- [x]  create a link to https://github.com/dwyl/contributing on top of the readme with a small description/explanation of why we use this guideline

see https://github.com/dwyl/the-book/issues/73 for ano

[2017-07-18 10:34] SimonLab commented on #38
welcome @joseempa . We give an introduction to @ajburls yesterday on how to use Github with this project. I think your main contribution will be to create issues to give feedback and ideas on existing and new features. Maybe the best place for you to start quickly with Github is to read our contributing guide: https://github.com/dwyl/contributing, this should take around 20mn to read this document

[2017-07-18 11:17] SimonLab opened #40 "add dwylbot to the repo"
As a developer I want dwylbot to help me following the contributing guide so I create clear issues

[2017-07-18 11:26] SimonLab commented on #40
@iteles I don't think I have the right to add dwylbot to dwyl repositories, do you mind to plug it?
I think if you follow the install instruction guide of dwylbot https://github.com/dwyl/dwylbot#install you should be able to do this. Let me know if you have any blockers :+1:

[2017-07-18 11:27] markwilliamfirth commented on #40
@SimonLab I've added dwylbot 👍

[2017-07-18 11:27] #40 closed

[2017-07-18 11:28] Cleop opened #41 "Add Best Evidence heroku link to readme"
**As** someone coming across the best-evidence repo
**I want to** know where to view the best-evidence site
**So that** I can see a working version of it.

- [x] Add Best Evidence heroku link to readme

[2017-07-18 11:36] SimonLab opened #43 "Transfer Heroku App"
We have at the moment an heroku app that I have created during my spike "voice recognition" #2 #3
This application is currently hosted on my dwyl account so we need to transfer it to the new heroku account so that any users with the credentials can access the application configuration

[2017-07-18 11:53] SimonLab commented on #40
![image](https://user-images.githubusercontent.com/6057298/28315801-fa61167c-6bb7-11e7-8a3c-67c22db3525a.png)
Thanks @markwilliamfirth
This will push me to fix some bugs on dwylbot too :wink:

[2017-07-18 11:54] SimonLab commented on #39
done with #42

[2017-07-18 11:54] #39 closed

[2017-07-18 12:07] SimonLab commented on #43
The new application is now hosted here: https://best-evidence-app.herokuapp.com

[2017-07-18 12:19] SimonLab commented on #28
Hi @ajburls could you try to access the following url https://best-evidence-app.herokuapp.com/ from the NHS wifi. I think this should work but it would be nice to confirm this first.

[2017-07-18 12:22] SimonLab opened #45 "Setup continous integration with Travis + pre-commit"
As a developer I want to be sure that my tests are passing before any push to Github and I want to know when my tests are failing before deploying as I want to be sure that my code is working properly

- [x]  Set up travis
- [x]  Set up pre-commit
- [x]  Add the Travis badge to the readme
- [x] Add codecov badge to the readme

[2017-07-18 13:20] SimonLab commented on #12
phoenix manage database with migrations. We have deployed phoenix now here: http://best-evidence-app.herokuapp.com/.
So now each time we want to update the database we just need to create a new migration.
I think the database details should be linked to the feature, for example for "create login feature" we want to create a table "user" in postgres with the following column: email, password_hash,

[2017-07-18 13:32] markwilliamfirth commented on #12
@SimonLab sounds good 👍

[2017-07-18 13:32] #12 closed

[2017-07-18 14:11] SimonLab commented on #11
The application is currently running with Elixir, Phoenix and Postgres. We also use an the Tripdatabase API.
I don't think the architecture will be much more complicated than that. we might have a look at Elm for frontend features but I don't think it's necessary at this stage.
Otherwise the database structure will be define as the same time as the features.
I think this issue could be close, @mar

[2017-07-18 14:50] Cleop commented on #45
Closing as merged in #47 and a technical issue.

[2017-07-18 14:50] #45 closed

[2017-07-18 14:52] Cleop commented on #43
Closing as tested 👍

[2017-07-18 14:52] #43 closed

[2017-07-18 15:05] markwilliamfirth commented on #11
Ok to close then - @SimonLab if it gets more complex please consult @nelsonic if you need any help with it. He is booked on for 1.5 days across the two sprints.

[2017-07-18 15:05] #11 closed

[2017-07-18 15:54] ajburls commented on #28
OK @SimonLab - I am not hospital/NHS based so I have asked colleagues who are to test and @joseempa to test from his hospital in Spain. Will post results under this issue.

[2017-07-19 09:59] Cleop opened #49 "Create staging heroku site"
Currently the site has one live version hosted on heroku: https://best-evidence-app.herokuapp.com/
We need to create a second 'staging' version of the site on heroku. The existing version would be known as the 'production' version.

The reason for doing this is to enable the team to share new features with @ajburls without them going live to people who may be testing the app. This way we have the

[2017-07-19 10:03] Cleop opened #50 "Set up tachyons"
- [x] Set up tachyons for css styling
- [x] Remove inbuilt bootstrap

[2017-07-19 10:52] joseempa commented on #38
Thank you for the invitation.
Questions? Hundreds-thousands... Just arrived. Give me a break to deal with all the new things I see here. That's a fully new way of collaborate !

[2017-07-19 10:52] #38 closed

[2017-07-19 19:08] SimonLab opened #52 "add favicon.ico file to the application"
![image](https://user-images.githubusercontent.com/6057298/28384732-a1345558-6cbd-11e7-9088-4487cb08e8ac.png)

As a user I want to see the logo of best evidence on my tab so that I can recognise quickly the tab of the application

As a developer I want to add a favicon to avoid noise in my logs (get request error for favicon.ico

I think this issue is also linked to #36

[2017-07-19 19:10] SimonLab commented on #49
The staging area is now accessible here: https://best-evidence-stagging.herokuapp.com/

[2017-07-19 19:24] ajburls commented on #52
![icon](https://user-images.githubusercontent.com/30235568/28385353-b97a889c-6cbf-11e7-986e-05dbf1ec5cd8.png)
![splash](https://user-images.githubusercontent.com/30235568/28385367-c32f9530-6cbf-11e7-9d4e-9fa70c532edf.png)

@SimonLab These are two files of the icon we designed before for the BestEvidence app if this is what you are wanting. (Not sure what is meant by favicon.)  Clearly this would h

[2017-07-19 19:27] ajburls commented on #52
Other smaller versions
![drawable-ldpi-icon](https://user-images.githubusercontent.com/30235568/28385613-b3758cc0-6cc0-11e7-9eb5-f3ebc9db9358.png)
![drawable-mdpi-icon](https://user-images.githubusercontent.com/30235568/28385619-b5d6a666-6cc0-11e7-97b1-4d420b2feebf.png)
![drawable-xhdpi-icon](https://user-images.githubusercontent.com/30235568/28385624-b785615a-6cc0-11e7-9599-9695c57f683d.png)

[2017-07-19 20:57] SimonLab commented on #52
Thanks for the files @ajburls :+1:
the favicon is indeed the small icon displayed on the tab on the left side of the title.
Uploading images on the issues make it easy for us to use them, so yes it's the good way to upload them, thanks.

We will add this icon and we can test if it looks good with the new design

[2017-07-19 21:12] SimonLab opened #53 "Add linter to the application"
As a developer I want a linter installed that can warn me about the code style of the code so that I can be consistent with the format of the code and detect quickly style errors.

We have been using [credo](https://github.com/rrrene/credo) on other [Elixir](https://elixir-lang.org/) projects   and this worked quiet well.

[2017-07-20 09:32] SimonLab commented on #14
I manage to send some requests using the API with:
```/search/json?key=xxx&criteria=water```
This send back a json reply containing all the list

However I'm not sure yet how the filtering feature works. The filter seems dynamic and depends of the search terms. Also I don't think the API give you any information about the filter so I need to do a bit more tests to understand the logic:
- [ ] under

[2017-07-20 10:27] SimonLab commented on #14
tripdatabase blog to understand the evidence pyrmid: https://blog.tripdatabase.com/2017/04/20/the-evidence-pyramid/

[2017-07-20 14:45] SimonLab commented on #14
I've send an email to Jon to know what is the best way to get the filters data. Otherwise I think we can close this issue: we can send api requests with and receive the json response. The details about how to get the right data for the filters will be discuss in the next issues

[2017-07-20 15:01] Cleop commented on #50
Closing as was merged in #51

[2017-07-20 15:01] #50 closed

[2017-07-20 15:02] Cleop commented on #53
Closing as was merged in #54

[2017-07-20 15:02] #53 closed

[2017-07-20 15:03] Cleop commented on #10
Closing as a technical issue and can't be tested. All issues are now complete.

[2017-07-20 15:03] #10 closed

[2017-07-20 15:13] SimonLab opened #57 "Add pointer when hover on buttons"
As a user I want my cursor to change to a pointer when I hover the buttons on the login and registration page (on desktop) as I want to know which elements are clickable.

- [x] Add pointer when hover on buttons

[2017-07-20 15:15] SimonLab opened #58 "Style flash message info and error"
As a user I want to see clearly if any info or error messages are display on the page so that I can see quickly which action I need to take next:

![image](https://user-images.githubusercontent.com/6057298/28424820-8691c128-6d66-11e7-88d6-5459246eea6b.png)

@Cleop @ajburls  we might need to think where we want to display these messages

- [x] Move the error message to display next to the input fie

[2017-07-20 15:24] SimonLab commented on #13
@ajburls this issue is now ready to be tested on staging: https://best-evidence-staging.herokuapp.com/
The staging application is where the product owner test and validate the new freshly implemented features. Once you are happy with the feature we will deploy the new changes to the production application (https://best-evidence-app.herokuapp.com/) where the other users can test and **use** the app

[2017-07-20 15:46] SimonLab commented on #14
setup with #56

[2017-07-20 15:46] #14 closed

[2017-07-20 15:46] ajburls commented on #36
@SimonLab Haven't heard back from City University about the designer they offered but have got pdf of their branding guidance and colours.
[City UoL brand guidelines September 2016.pdf](https://github.com/dwyl/best-evidence/files/1162861/City.UoL.brand.guidelines.September.2016.pdf)

[2017-07-20 15:53] ajburls commented on #13
@SimonLab Well I went in and created and account and did a search. Second attempt to open just goes to search so I can't test the screen where you login as it doesn't appear. I will test later on a different device.

The search bit is just falling off screen on left and not centred like on the other test page (Where both it and the test results are much prettier - not closely bunched font with lin

[2017-07-20 16:01] SimonLab commented on #13
Thanks for testing @ajburls
The search view is not yet completed but it is in progress see #15

It's true that testing the login view after having creating a new user is difficult at this stage as we keep the user always signin. This make me think that we might want to add a logout functionality, this might be also useful when users will use the application on a public computer for example, they m

[2017-07-20 16:08] SimonLab opened #59 "Add procfile"
As a developer I want the database migrations to run automatically on Heroku so I don't have to do it manually each time.

- [x] Create a [procfile](https://devcenter.heroku.com/articles/procfile)

[2017-07-20 16:25] markwilliamfirth commented on #36
City red hex: #C00F22

[2017-07-20 17:18] ajburls commented on #13
Thinking about this, I agree with @SimonLab, viz. given that people may use this on public computers e.g. in the hospital library, they will need to be able to logout to maintain the confidentiality and integrity of their account. However, now I know how to delete the cookies for testing purposes I think this functionality can be deferred to Sprint 2.

Should I be adding this as an issue or is thi

[2017-07-21 09:19] SimonLab commented on #59
Thanks @shouston3 :+1: resolved with #60

[2017-07-21 09:19] #59 closed

[2017-07-21 09:22] #49 closed

[2017-07-21 09:34] SimonLab commented on #13
@ajburls I think you are right, do you mind to create this new issue?
I think we can put a logout button maybe on the setting page?

[2017-07-21 09:42] SimonLab commented on #36
Thanks for the pdf @ajburls .
Would you like us to discuss a future design with @harrygfox soon? Are you happy for us to discuss this for sprint 2?

[2017-07-21 09:48] ajburls commented on #36
@SimonLab Yes, please. Not sure when City designer will contact me. I will chase if I haven't heard by end of Monday. But it may not be helpful anyway. If something comes of it, results can feed into Sprint 2 and discussions with @harrygfox

[2017-07-21 09:54] Cleop commented on #33
The API returns 20 results by default. I recall us mentioning 20 results as a fair number. Are you happy with this @ajburls and @markwilliamfirth?

To amend this default would be particularly fast and doesn't seem to be a high priority given that 20 is not a great difference.

[2017-07-21 10:01] ajburls commented on #33
@Cleop @markwilliamfirth - For the app when finished we need people to be able to scroll through and get to all results if they want to. (This was behind discussion of lazy loading). We said limit to 25 to 30 results for the first development stage to keep app fast during development.

I would not be happy with 20 as final return on search.

If you want to limit to 20 during development then that

[2017-07-21 10:07] ajburls commented on #33
@markwilliamfirth @Cleop
The final app needs to allow people to view all results if they want to. (This was what led to the discussions about paging results or lazy loading.)

We agreed to limit to 25 to 30 in this sprint to simplify development and speed response of app. I am happy to limit to 20 for this purpose.

I would not be happy to limit to 20 at end of Sprint 2.

I would be happy to for i

[2017-07-21 10:07] harrygfox commented on #25
@SimonLab as it is in your screenshot

[2017-07-21 10:19] #13 closed

[2017-07-21 10:23] ajburls opened #61 "Need to be able to log out"
As a user, I might want to access my BestEvidence account on public computers e.g. in the hospital library

Therefore l need to be able to logout when I have finished

So that no-one else can see or add to my notes  and maintain the confidentiality and integrity of my account.

[2017-07-21 10:26] Cleop commented on #33
Great, thanks for the feedback @ajburls. I should have been more explicit. So the 20 default is for the first page, people will be able to view as many resources as the search returns once we implement pagination. We can discuss whether pagination or lazy loading is what we opt for in sprint  2 when it comes to sprint planning. Then we can discuss in more detail the difference between them for bot

[2017-07-21 10:42] ajburls commented on #33
No objection @Cleop

[2017-07-21 10:54] SimonLab commented on #34
- [ ]  create new table "searches" - search_term, count_results, user_id, timestamp
- [ ] change the form to post request as we are now saving data in the database from a search
- [ ] change the search new action to save the search in the database
- [ ] change the search index action to get the list of recent searches, how many do we want to display?

[2017-07-21 11:46] Cleop commented on #15
Going to look into how we autofocus the page onto the input bar when loaded so users can type immediately without having to click the input box.

[2017-07-21 12:33] markwilliamfirth opened #62 "History Notifications"
As a developer
I would like to have more clarity on how notifications should work from the product owner @ajburls
So I can build the application correctly

![image](https://user-images.githubusercontent.com/5732209/28463463-65f516ba-6e18-11e7-9494-aef978fdb341.png)

1. What does the dot mean?
Current assumption: it means new notifications are available to be read and it will only appear when this

[2017-07-21 13:28] ajburls commented on #62
@markwilliamfirth Mark, these aren't notifications as I understand the term notifications (i.e. the app sending new information to the user). This is marking a link showing what you have done in the past. It differs from list shown on search page in that it also documents the links you clicked through to. This is the picture from invision wireframes that @harrygfox  made showing what you would cli

[2017-07-21 13:50] Cleop opened #63 "Reduce space around 'Start Searching' button to avoid need to scroll"
**As a** user
**I want to** avoid scrolling to view page content
**So that** I can access the information I need effortlessly and quickly.

Currently the 'Start Searching' button on the login page for existing users is not fully visible on an iPhone 5. To remove the need for scrolling for users, we can reduce the spacing around the button.

Here's how it will now look on iPhone 5:
<img src="https:

[2017-07-21 13:53] markwilliamfirth commented on #62
Thank you @ajburls so to summarise - we will remove the the number next to History

[2017-07-21 13:55] markwilliamfirth commented on #62
With regards to the number next to Review All- this is referring to the number of clicks to sources from searches that require review from the doctor? The doctor either leaves a review as to whether their question was answered or not by that source or they skip the review. Wither of these actions decrease the counter - is that correct @ajburls ?

[2017-07-21 17:24] ajburls commented on #62
@markwilliamfirth Just to confirm in writing what I said in hangout - I am not totally sure what this meant but it would be helpful for people to know how many searches they had done, or resources they had clicked through to where they had not put a comment so they can review later.

We spoke about writing a note or selecting from a choice (e.g. Yes, this answered my question) would remove reminde

[2017-07-24 09:37] Cleop commented on #33
Closing this issue as 25-30 limit no longer needs imposing. Other ways of viewing multiple sources covered in #16 and #32.

[2017-07-24 09:37] #33 closed

[2017-07-24 09:45] Cleop commented on #34
@ajburls - how many 'recent searches' would you like to be displayed? is the last 5 searches enough (as shown in the wireframe so users don't have to scroll when the keyboard is showing)? or would you like more than this?

[2017-07-24 10:03] Cleop commented on #7
@ajburls - what is the correct email that feedback emails should be sent to?

[2017-07-24 10:19] Cleop commented on #7
Current banner wording/color:
<img src="https://user-images.githubusercontent.com/16775804/28518996-e2f10ade-7061-11e7-9d47-98e69612364b.png" width=200px />

[2017-07-24 11:03] ajburls commented on #63
This looks good

[2017-07-24 11:03] #63 closed

[2017-07-24 11:22] ajburls opened #69 "Bypass of consent"
As product owner and researcher
I need users to be aware and consent their data is visible on backend if they use app
To meet ethics requirements

Currently a new user going to app for first time can press login on home screen (consent button requires scrolling and could be missed). On login page they can select a new account and set up new account without consenting

[2017-07-24 11:46] markwilliamfirth commented on #62
@harrygfox would you be able to clarify further what the original intention of the red dot and number next to the "Review All" means?

[2017-07-24 11:53] Cleop commented on #19
I've set up the basic scripts for Tag Manager and Analytics which I will then test once they've been merged in.

[2017-07-24 12:21] ajburls commented on #52
@SimonLab The icon is too small to be visible. It needs to be enlarged even if this means that the ends of the capsule are not visible (or pub with a, say, red background to that it stands out more.

[2017-07-24 12:49] ajburls commented on #7
@Cleop

[2017-07-24 12:59] ajburls opened #70 "Problem with passwords"
A few days ago I was unable to enter best-evidence-staging.herokuapp.com website with my city university email address and assumed it was because I had forgotten my password. Since there is nothing for forgotten password I simply opened another account with my personal email address. This is not working saying password name combination is invalid but I know I am using the correct password and have

[2017-07-24 13:01] ajburls commented on #70
@cleop - tried to check this but can't get to search page, see issue #70 just raised.

[2017-07-24 13:25] Cleop commented on #52
@ajburls Thanks for the feedback. Have a look at the versions below and let me know what you think, ignore the black borders, that's just the background of the page that I've copied the screenshot from.
This is the red option:
<img src="https://user-images.githubusercontent.com/16775804/28525217-64597412-707b-11e7-86a5-39d30df6e978.png" width=18px />
This is a version that has the ends slightly cu

[2017-07-24 13:40] ajburls commented on #69
@SimonLab  Have been thinking about best way around this and think that home page should remove
![image](https://user-images.githubusercontent.com/30235568/28524812-ed03a79e-7079-11e7-80e8-f9b921607bde.png)

and simply be one screen with login or "Create a BestEvidence Account" link.

That link should go to page with the information about informed consent. And that is only way to get through to sc

[2017-07-24 14:11] ajburls commented on #34
@Cleop I think that the last 5 would be OK since they are all in the history if people want to go back. If there were more would these be below keyboard rather than displacing keyboard? @joseempa what do you think?

[2017-07-24 14:26] Cleop opened #71 "Search History UI"
UI for 'History' page without bottom bar:
  - [x] Dates from database
  - [x] Notes symbol - notepad with pencil
  - [x] Notes toggle feature (note been made = squiggly line through it)
  - [x] Put Publications in a block displayed div so that when there is a one line short title it doesn't try to put two on one line
  - [x] Add L shaped line between symbols
  - [x] Make publications black font co

[2017-07-24 14:43] Cleop commented on #19
Closing as tested and all criteria complete

[2017-07-24 14:43] #19 closed

[2017-07-24 15:12] SimonLab commented on #35
steps to save publication clicks:
- [ ] create new migration: table publication_history with a foreign key to the search table
- [ ] update the search table to have "has_many" publications
- [ ] update the view "list publication" to add a class
- [ ] create a new route (with json pipe) ```/publications/create``` which will send the url link + the id search as a post request
- [ ] create js script

[2017-07-24 15:14] SimonLab commented on #69
Thanks for spotting this issue @ajburls :+1: I think this new user flow should work

[2017-07-24 16:39] ajburls commented on #71
When this was discussed with Harry the notes icon was going to be beside each resource used and coded in some way to show where there were notes and where notes had not yet been written. I am not sure how notes at the bottom would enable one to make notes that relate to a particular resource.

[2017-07-24 16:42] ajburls commented on #70
@SimonLab @Cleop Just played around with this and it turns out that the email address is case sensitive. this needs to be changed but it does mean I can now get in to app to check pages.

[2017-07-24 16:45] ajburls commented on #57
This working well on desktop version as far as I have tested

[2017-07-24 16:47] ajburls commented on #52
Think red background helps icon to stand out but wonder whether it is good icon. Diagonal would maximise size of capsule.

[2017-07-24 22:48] SimonLab commented on #70
Sorry @ajburls I just read your previous message and I've already reset your emails. You should be able to create them again and I will make sure the email are not case sensitive

[2017-07-25 08:18] ajburls commented on #70
@SimonLab Thanks for heads up. I have re-registered, no problem. (I noticed capitalisation problem not yet fixed.)

[2017-07-25 08:35] SimonLab commented on #70
The code for the capitalisation is currently in review (see the pull request #73 ) but this should be deployed soon today once it is approved

[2017-07-25 08:40] markwilliamfirth commented on #52
![favicon](https://user-images.githubusercontent.com/5732209/28563176-0757d9a0-711d-11e7-8c4d-46bdb29c4047.png)

![favicon-red](https://user-images.githubusercontent.com/5732209/28563227-3d811a82-711d-11e7-859d-a98cfed4b28e.png)

@ajburls what do you think of these two draft designs?

[2017-07-25 09:37] Cleop commented on #7
@ajburls - I've now updated the email address to the one you've provided so this is now ready to test again and if you're happy it can be closed.

[2017-07-25 09:52] Cleop commented on #57
Thanks for testing, please close the issue if you are satisfied with testing 👍

[2017-07-25 10:34] ajburls commented on #52
They are good and I think it will help that the image is larger. At this size no background one is more attractive to me. Not sure which would be best on tool bar/tab.

[2017-07-25 10:36] Cleop commented on #52
Thanks for the feedback @ajburls - I'll implement no background for now and share once I'm done

[2017-07-25 10:38] #57 closed

[2017-07-25 10:40] SimonLab commented on #70
@ajburls this is now deployed to staging and ready to be tested

[2017-07-25 10:41] Cleop commented on #69
Changes have been made and currently will require a bit of scrolling on iPhone 5:
<img src="https://user-images.githubusercontent.com/16775804/28568551-2674e48e-712e-11e7-94eb-0eaa0ce3e46b.png" width=300px />
However, we can discuss whether reducing the wording of the button or elsewhere may overcome this if it's a priority.

[2017-07-25 10:43] ajburls commented on #7
@cleop I tested this and sent a message to myself which duly arrived. One of the reasons for having feedback option on every page was so that we could tell which page feedback came from. Currently you can't do this. The feedback email is a blank email. It would be helpful if it could have something like

_Feedback on BestEvidence App (page X)_

In subject line

[2017-07-25 11:19] SimonLab opened #75 "add type of evidence to results"
As a developer I want a way to quickly know the type of evidence of a link so that I can style easily the result (colour + evidence pyramid).

- [x] map id of category returns by the API to the list of evidence types
- [x] create a new property that no the result object to store the evidence type

[2017-07-25 11:22] SimonLab commented on #75
evidence must map the following categories:
11 - Systematic Reviews
1 - Evidence-based synposes
16 - Aus & NZ Guidelines
18 - Canada Guidelines
10 - UK Guidelines
9 - USA Guidelines
4 - Other Guidelines
34 - Regulatory Guidance
13 - Key Primary Research
2 - Clinical Q&A
27 - Controlled Trials
14 - Primary Research
35 - Ongoing Systematic Reviews
30 - Ongoing Clinical Trials
22 - Patient Decision A

[2017-07-25 11:28] ajburls commented on #70
OK - this problem seems to be resolved.

[2017-07-25 11:28] #70 closed

[2017-07-25 11:30] ajburls opened #76 "Implement Forgotten Password Functionality"
As a user
I need to be able to re-set my password if I have forgotten it
So I can get back into my account.

[2017-07-25 11:33] ajburls opened #77 "Attempting to register existing email address"
When I was testing whether the email address capitalisation issue was satisfactorily resolved, I tried to create an account with different capitalisation for an account that existed. I told me the account existed but stayed on the page for creating a new account. I think it would be better in such circumstances to return to the previous login page.

[2017-07-25 11:45] ajburls commented on #69
I have tested this and cannot now get around requirement to login.

However the text on new informed consent page has typos that need correcting. (Improve the it; reasearch)

Since you will be editing it I think the text could be shortened to:

_All searches and notes are stored in a secure online database. These are accessible, in an anonymised format, to administrators and may be analyzed to und

[2017-07-25 11:50] ajburls commented on #69
Happy to reduce button wording to

_I agree_

and wording preceding it to

_To agree to this and create an account click button below_

 make it fit on phone

[2017-07-25 11:55] SimonLab commented on #7
At the moment the feedback linked can be clicked on the following urls:
- /
- /session/new
- /consent
- /user/new
- /search

@ajburls I think we can predefine the body of the email with this information, would this be ok?
Also we have now Google Analytics tracking the click events on the feedback link and the information about the page is also saved this way

[2017-07-25 11:57] ajburls commented on #7
@SimonLab Yes, I think that would give us enough information to know where it came from. Presumably it will activated on all pages in due course?

[2017-07-25 14:15] Cleop commented on #35
Closing as was merged in #72

[2017-07-25 14:15] #35 closed

[2017-07-25 14:57] SimonLab commented on #77
Just to recap and to be sure I understand correctly, when a user attempt to create an account with an existing email address we want that user to be redirected to the login page, it this right?

[2017-07-25 15:02] SimonLab opened #82 "load previous search"
As a user I want my previous search to be loaded in the serach box on click so that I can quickly search again for this term

- Create a javascript onclick event which load the term on the search box

[2017-07-25 15:10] SimonLab commented on #7
@ajburls This is now ready to be tested. The subject of the emails will contain the path of the page when the user click on the feedback link

[2017-07-25 15:24] SimonLab commented on #69
@ajburls The text has been updated and is ready to be tested, thanks

[2017-07-25 15:38] ajburls commented on #69
@SimonLab Looks good. The last paragraph reads oddly, probably because I edited it to change it from patient's to patients' and I think it needs to be changed to

_Remember not to write any notes that could breach a patient's confidentiality or allow them to be identified._

Otherwise I think this issue can be closed

[2017-07-25 17:06] ajburls commented on #34
This is working but it has a bug in that if you press "done" from the search page it duplicates the item in the search history. (Does this need to be entered as a separate issue?)

Also we were going to be able to click on the recent searches so that they appeared again in the search box so that they could be edited if refinement was needed. That functionality is not yet there.

[2017-07-25 17:21] ajburls commented on #77
@SimonLab yes, there seems to be no point returning them to the create an account page.

[2017-07-25 17:26] ajburls commented on #7
This works well on pages tested so far.

[2017-07-25 17:26] #7 closed

[2017-07-25 17:27] ajburls opened #85 "Results Page Search and Return Buttons"
On the results of a search, a search box appears at the top
![image](https://user-images.githubusercontent.com/30235568/28585023-d2594938-7166-11e7-8bb2-25be4df75a1e.png)
Not sure why, it doesn't work. Needs to work or be removed.

[2017-07-25 20:38] SimonLab commented on #85
Thanks for spotting this @ajburls :+1: . I will update the input search to make it work on the results page.

[2017-07-26 11:05] SimonLab commented on #34
Thanks for testing @ajburls I will have a look at the duplicates item.
The "clicking on recent search" feature is currently in review and should be deployed soon

[2017-07-26 11:18] SimonLab commented on #85
This should be resolved now @ajburls

[2017-07-26 11:31] ajburls commented on #85
@simonlab Just tested but, no, not searching on my android from search box in search answers screen - just returning me to the search page.

[2017-07-26 11:33] ajburls opened #88 "Bug Tracking Issue: Unnecessary repeated logins on mobile devices"
As a user of the app
I need to be able to access the app from a device such as my mobile phone without constantly having to login
To save time and not add deterent to using app

This was agreed but my phone keeps asking me to login

[2017-07-26 11:45] SimonLab commented on #88
I think it might be due to our recent deployment of code on staging. I will do more investigation but I think each time we are going to deploy new code you might have to login again as the application has changed. On production this wouldn't be an issue as the code won't change as often.

[2017-07-26 11:50] SimonLab commented on #85
I've just try again and it's working on my phone. You might need to refresh the page to be sure to get the last version of the application.
I just want to check the user flow, we might have misunderstand the "done" link near the serach box. Do you expect this link to execute the new search? At the moment this link will indeed redirect to the search page so maybe it's something we need to clarify.

[2017-07-26 13:51] ajburls commented on #85
I think I may have just found this box misleading. In my app it was blank and with the magnifying glass icon looked like a search box. It is now showing the search that was made.  I think it would be better to remove this icon as it has a specific meaning not relevant here. (Could put text like "Results for" or "search terms used") I think "done" is fine provided the search box is not misleading.

[2017-07-26 13:52] ajburls commented on #88
Just used app again after closing it and wasn't required to login again so either intermittent fault, fixed fault or due as you hypothesise to an new code deployment.

[2017-07-26 14:19] SimonLab commented on #85
I'm adding some screenshot of the last version which will be soon deployed maybe it's going to clarify this feature. Let me know if this is the right user flow or if we should remove completely the search box on the results page

1 - Search for pain on the main search page:
![image](https://user-images.githubusercontent.com/6057298/28625692-ea47d146-7214-11e7-9b11-a69d95e8d4cc.png)

2 Click on the

[2017-07-26 14:21] SimonLab commented on #88
Thanks for testing this again. Let's keep this issue open and let's track when the application ask us to login.

[2017-07-26 14:34] SimonLab commented on #32
- [ ] Create an event listener which detect when a user has scrolled to the bottom of the page
- [ ] Send a post request to our sever to get the next page ex: /search with the payload containing the term searched and the page number
- [ ] Our server send a request to get the next result: ```?criteria=term&skip=20``` the skip query parameter let us drop the n first results
- [ ] Our server format t

[2017-07-26 15:35] ajburls commented on #85
@SimonLab Tested on desktop and android and looking good:
No duplicate searches appearing
"Done" returning me to search screen
Clicking on previous searches and text appearing in search box.

Only thing is I still thing the magnifying glass on search results page could mislead and would be better to be replaced by something like "Search terms:"

[2017-07-26 15:39] ajburls commented on #69
@SimonLab Not sure if I am supposed to be reviewing this or not but last paragraph still odd and needs changing to

Remember not to write any notes that could breach a patient's confidentiality or allow them to be identified.

Otherwise I think this issue can be closed

[2017-07-26 16:01] SimonLab commented on #75
This is ready to be tested @ajburls
![image](https://user-images.githubusercontent.com/6057298/28631105-0915e086-7224-11e7-9e87-0c8470d214b6.png)

[2017-07-26 16:03] SimonLab commented on #34
@ajburls could you test this view, I think it should be ok now

[2017-07-26 16:05] ajburls commented on #77
This is working and returning people to login page. I think it needs a message as a bit disorienting but I will close this and add as a low priority issue.

[2017-07-26 16:05] #77 closed

[2017-07-26 16:08] ajburls opened #92 "Existing account user"
As a user who forgets they have an account and tries to register an account
I need to know that I have been returned to the login page because the account already exists
So that I am not disoriented.

This needs a message like "email address already in use, please login"

I think that this issue might best be dealt with at same time as the forgotten password reminder issue.

[2017-07-26 16:18] ajburls commented on #75
@SimonLab Working well on search. Looks good

Not sure if I should close this issue or whether it is still part of issue about being able to select a level of evidence to review.

[2017-07-26 16:18] ajburls commented on #82
nice work :-)

[2017-07-26 16:18] #82 closed

[2017-07-26 16:22] ajburls commented on #34
Looks good.

[2017-07-26 16:22] #34 closed

[2017-07-26 21:20] SimonLab commented on #75
I think this issue could be close. We have the following issue #25 where we will add the filters to the results page

[2017-07-27 07:14] #75 closed

[2017-07-27 07:21] #15 closed

[2017-07-27 08:27] markwilliamfirth commented on #58
Amanda has confirmed to move text error near to the submission fields

[2017-07-27 12:30] ajburls opened #93 "Galaxy phone keyboards"
As a user of the app with a Samsung Galaxy S7
I need to be able to use voice to text on the app without having to alter my keyboard
To minimise barriers to use.

Standard Samsung keyboard does not have microphone on other apps e,g, messages this is shown at edge of search box,

We either need to have app integrate its own keyboard with microphone or have microphone appear at side of search box lik

[2017-07-27 12:32] ajburls opened #94 "Search button"
As a user of the mobile version of the app
I need a search button near the search box
So I can search immediately after a voice to text search without having to go back to the keyboard.

[2017-07-27 12:33] ajburls opened #95 "Year needed on date of search in history"
As a user
I need to know the year of a search too,
so that I can prepare my CPD returns and remember when a search was done.

[2017-07-27 12:34] ajburls opened #96 "Date of review"
As a user
I need to know the date I reviewed or updated a review of a paper, not only the date I clicked through to it.

[2017-07-27 12:42] ajburls opened #97 "Alter Wording for Breach of Patient Confidentiality Warning"
As a clinician user of the app
I need to be reminded not to breach patient confidentiality when I write notes

Current wording
![image](https://user-images.githubusercontent.com/30235568/28670550-27e29790-72d1-11e7-922b-a1d22e9535e0.png)

 needs to be improved. Suggest changing to

_Do NOT to write notes that could could breach patient confidentiality_

I like the warning triangle

- [x] Change wo

[2017-07-27 12:47] ajburls opened #98 "App appearance"
As a user
I want the app to be visually attractive and easy to read with minimal spurious information.

To my eye the text on the home page in black and not bold is much clearer than the denser bold blue text on results of search page. Are there guidelines about best font for increasing readability in app design we could implement?

Since the coloured lines at left just reflect the pyramid at righ

[2017-07-28 09:46] harrygfox commented on #62
The red dot indicates that there are historical searches that have been made and/or papers that have been read which have not been reviewed. The number (2) indicates that there are either:
- 2 historical searches which have not been reviewed
- 2 papers read which have not been reviewed
- 1 historical search and 1 paper read - neither of which have been reviewed.

The user reviews each search and p

[2017-07-28 12:18] markwilliamfirth commented on #62
@harrygfox thanks for confirming the original design implementation

@ajburls can I confirm you would you like to continue with the decision to remove the review all functionality (as discussed in our sprint planning yesterday)?

[2017-07-30 15:02] ajburls commented on #62
I think that we just want a link to history and no flag or numbers but on history users WILL be able to see which questions and papers clicked through to have no notes, which have some notes, which have completed notes.

[2017-07-31 10:34] markwilliamfirth commented on #62
@ajburls just to let you know I'm reopening this issue as we need to keep this open until the functionality has been built and tested 👍

[2017-08-02 10:23] ajburls opened #99 "Change functionality of Search Terms box on results page"
As a user of this app
I need to have the search terms box on the results page link to a search

Even though I know that the search term box on the results page isn't a search box, I repeatedly find myself amending a search and trying to run it. This means that this is a systematic error cause by the design and I think it would probably be best to make this box editable and the search runable direc

[2017-08-04 15:43] markwilliamfirth commented on #99
@ajburls as far as I understand this functions correctly - I am able to run a search from the search terms box on the results page - please could you test if this works on your end?

[2017-08-04 15:50] ajburls commented on #99
I can't get into app just now

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Mark William Firth <notifications@github.com>
Date: 04/08/2017 16:43 (GMT+00:00)
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: "Burls, Amanda" <Amanda.Burls.1@city.ac.uk>, Mention <mention@noreply.github.com>
Subject: Re: [dwyl/best-evidence] Change functionality of Sear

[2017-08-04 15:51] markwilliamfirth commented on #98
@ajburls please could you assign this issue a priority level?

[2017-08-04 15:52] markwilliamfirth commented on #97
@ajburls please could you assign a priority label to this issue?

[2017-08-04 15:53] markwilliamfirth commented on #95
@ajburls please could you assign a priority label to this issue?

[2017-08-04 16:01] markwilliamfirth commented on #85
@ajburls please can you test and close this issue?

[2017-08-04 16:02] markwilliamfirth commented on #69
@ajburls please can you test and close this issue if you are happy?

[2017-08-04 16:05] markwilliamfirth commented on #52
@ajburls please can you test and close this issue if you are happy?

[2017-08-04 16:06] markwilliamfirth commented on #41
Amanda confirmed that she can access the new link from the readme on the call we had, so this can be closed now

[2017-08-04 16:06] #41 closed

[2017-08-04 16:09] markwilliamfirth opened #100 "Progressive web app - custom 'touch icon' on homescreen installation"
As a user that installs the application onto my homescreen (https://github.com/dwyl/best-evidence/issues/37), I want the application to have the BestEvidence logo

- [x] Add the Best Evidence logo to the touch icon for mobile

@Cleop please can you add a time estimate to this?

[2017-08-04 16:10] markwilliamfirth commented on #37
This issue has been completed, closing in favour of a new issue derived from this, which is here: https://github.com/dwyl/best-evidence/issues/100

[2017-08-04 16:10] #37 closed

[2017-08-04 16:17] markwilliamfirth commented on #32
@ajburls please could you assign a priority label to this issue?

[2017-08-04 16:18] markwilliamfirth commented on #29
Linked to #76 #21

[2017-08-04 16:19] markwilliamfirth commented on #28
@ajburls can you confirm the testing has been completed for this?

[2017-08-04 16:19] markwilliamfirth commented on #36
From designer:

Hi Amanda,

I've now had a play and a look at the wire frames. It's all looking good and as it's all so clearly laid out I think the only thing I would suggest is the use of our City colours. I have attached our brand guidelines where hex references can be found for the colours on page 18, though advise speaking to Cara Perry (digital designer) or Dimitra Bazani (User Experience Ar

[2017-08-04 16:24] markwilliamfirth commented on #99
@ajburls seems to be working for me now:

<img width="1258" alt="screen shot 2017-08-04 at 17 22 57" src="https://user-images.githubusercontent.com/5732209/28977382-b198cc20-7939-11e7-87fa-77770402750a.png">

Is it working correctly now? If not, can you describe the steps that need to be taken to reproduce the issue?

[2017-08-04 16:27] markwilliamfirth commented on #17
Removing this epic from the Sprint 1 milestone, as it is spread across two sprints

[2017-08-04 16:28] markwilliamfirth commented on #58
Moving this issue to the Sprint 2 milestone, as the feedback for this was not received during Sprint 1

[2017-08-04 16:39] markwilliamfirth commented on #30
@ajburls Here are some suggested available domains:

bestevidenceapp.com
bestevidenceapp.co.uk
bestevidence.co

[2017-08-04 16:50] markwilliamfirth commented on #3
@iteles where should it be recorded? Should I create a new repo?

[2017-08-04 16:51] markwilliamfirth commented on #2
@iteles where should this research be recorded? (assume it needs to be recorded like https://github.com/dwyl/best-evidence/issues/3)

[2017-08-04 16:52] markwilliamfirth commented on #8
Amanda has confirmed email for now - closing

[2017-08-04 16:52] #8 closed

[2017-08-04 16:53] markwilliamfirth commented on #6
@SimonLab has confirmed notes content will be private and now viewable by administrators

[2017-08-04 16:53] #6 closed

[2017-08-04 16:54] markwilliamfirth commented on #5
Closing this issue as the current setup is adequate - improvements to this are being tracked and actioned from #88

[2017-08-04 16:54] #5 closed

[2017-08-04 16:58] markwilliamfirth commented on #20
@ajburls this issue was generated from the original proposal - can you confirm if this is still a high priority and edit the priority label as appropriate?

[2017-08-04 17:08] markwilliamfirth commented on #23
@Cleop would you be able to provide a time estimate for creating a very quick and basic version of this?

[2017-08-04 17:10] markwilliamfirth commented on #18
@ajburls would you be able to add a priority label to this issue please?

[2017-08-04 17:30] markwilliamfirth commented on #16
@SimonLab could you provide a time estimate for how long it would take to implement this?

[2017-08-04 17:31] markwilliamfirth commented on #62
Linked to #71

[2017-08-04 17:37] markwilliamfirth commented on #36
@Cleop please can you provide a time estimate to change the hex codes?

[2017-08-04 17:38] markwilliamfirth commented on #36
@waddie is there a way we can use City's font (Meta OT) for this app?

[2017-08-04 17:53] waddie commented on #36
@markwilliamfirth Licensing for FF Meta is a one-time purchase per domain based on page views per month. We have a licence for the complete FF Meta collection on city.ac.uk

If this will be hosted on a *.city.ac.uk and likely to be serving <10k page views per month, you'll be able to use our existing licence, otherwise you'll need a new licence.

[2017-08-04 18:25] markwilliamfirth commented on #36
Thanks @waddie

Linked to #30

@ajburls please let us know how you'd like us to proceed with the font / domain

[2017-08-04 18:43] markwilliamfirth opened #101 "Feature: Delete a Search"
As a user
I want to be able to delete a search from from search history
So that I can manage my search history terms

@ajburls I have created this issue based on our discussion last week. Please can you add any additional detail and a priority label?

[2017-08-04 18:44] markwilliamfirth opened #102 "Native Application"
As a product owner
I would like a native application for the BestEvidence app
So that..

@ajburls I have created this issue based on our discussion from last week - please could you add additional detail and a priority label?

[2017-08-04 18:46] markwilliamfirth opened #103 "Search Results Design - Remove the line to the left of the search result"
As a product owner
I would like the line removed from the left of the search result
So I can have a simple design and use the pyramid to display all visual cues instead

@ajburls I have created this issue based on our discussion from last week - please could you add additional detail and a priority label?

[2017-08-04 18:50] markwilliamfirth opened #104 "Spike: Check publication has an ID"
@SimonLab please can you check if the TRIP API has a section that has a publication ID? This question arose at our last sprint planning meeting - it relates to understanding whether we can save search notes against a publication for others to see, as well as in user's personal notes sections

[2017-08-04 18:53] markwilliamfirth commented on #25
Amanda has requested to start on this issue with filtering of evidence type (without submenus). Note that the colour coding of the submenus is important. (T4h)

[2017-08-04 18:55] markwilliamfirth opened #105 "Saving Notes with a Save Button"
- [ ] Save a note with a save button (T1h + 2h styling + 2h pulling in data)

[2017-08-04 18:57] markwilliamfirth opened #106 "Complex Note Saving: Automatic Saving of Notes in an Input Box"
Input boxes for notes that autosave automatically without the user needing to press a save button
(T1d + 2h + 2h styling)

This will replace #105

Decided to add to the backlog as it is not a high priority

[2017-08-04 19:02] markwilliamfirth commented on #18
Amanda has confirmed email notes: https://github.com/dwyl/best-evidence/issues/8#issuecomment-320298765

[2017-08-07 09:29] Cleop commented on #36
Color changes can be made with this information.

As well as font/typeface info, we also need more information on how/where the logo should be used from @ajburls before I can implement that.

[2017-08-07 09:36] Cleop commented on #100
For Chrome:
https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/#customize_the_icons

[2017-08-07 10:11] SimonLab commented on #16
I think this issue is replaced by #32 (lazy loading)

[2017-08-07 11:21] #69 closed

[2017-08-07 11:22] #52 closed

[2017-08-07 11:27] ajburls commented on #28
@markwilliamfirth No - until we have the note field working we can't really test. As it stands it works but we need to be sure it doesn't block people actively recording informations

[2017-08-07 11:36] ajburls commented on #99
No - still won't let me log in as ajburls@yahoo.co.uk from Samsung nor register an account with this email address.. "start searching" button just returns me to login screen and

I had to invent fake email address and register again. Then it would let me search. However, when app closed and re-opened, it wanted me to login again rather than going straight to app and it won't let me log in with tha

[2017-08-07 11:47] ajburls commented on #30
Thanks for these suggestions. When I was working on this app before DWYL's involvement, the developers bought the domain name "BestEvidence.Info" for the app.

I have written to Shakur to establish the status of this domain. Would you think this a suitable name. If this name is lost to us then we can choose one of the ones you have suggested. I probably like last as shortest best but do not have s

[2017-08-07 11:53] ajburls commented on #20
@markwilliamfirth Confirmed that this is a high priority as it is integral to us being able to undertake research about how the app is used.

[2017-08-07 12:03] ajburls commented on #102
I think that this is required urgently only if the functionality that we agreed were essential in our discussions about the app cannot be provided in a web-based app. 9At this stage the aim is to get a MVP with sufficient functionality for us to be able to show research funders and professional organisations to obtain their buy in for use, research and further development of the app. So the priori

[2017-08-07 12:07] ajburls commented on #18
@markwilliamfirth I am not sure I understand what this is about.

[2017-08-07 12:09] ajburls commented on #36
Logo should just be on the about us page not on main page.

[2017-08-07 12:12] ajburls opened #107 "Easy re-branding of the app"
As a product owner
I want to be able to "re-brand" the app simply and quickly for different sponsors of the use of the app

This point follows on from issue #36 where we are currently talking about branding the app for City University.

Could changing a logo and colours on front page and about us page  be set up in such a way that this could easily be done?

[2017-08-07 13:00] #16 closed

[2017-08-07 14:49] markwilliamfirth commented on #18
@ajburls the above is a note on this issue to confirm that you would like notes to be able to be shared by email. In terms of next steps for this issue, I just need you to assign a priority label to it so we know how to prioritise it in this sprint

[2017-08-07 14:53] markwilliamfirth commented on #28
Relies on #22 being completed

[2017-08-07 15:38] SimonLab commented on #85
We just need to remove the magnifying glass on mobile

[2017-08-07 15:49] ajburls commented on #85
@SimonLab I though this was just giving the search terms used, but now I have found out that it is actually a search box, I think the magnifying glass is actually the most appropriate symbol (I just thought it was being used out of place).

Now I think the "Done" is in the wrong place given that this is a search box. I think it should say "search" and run the search.

We could have a Return button

[2017-08-07 15:51] SimonLab commented on #28
At this stage I'm pretty confident that there are no technical blockers for creating note from an NHS environment as some users can already access the application from these places. The only blocker would be if NHS decide in the future to restrict the access of the application but I don't see any reason why at the moment.

[2017-08-07 15:55] SimonLab commented on #85
I think changing the "done" link to a search button makes sense and we can keep the magnifying glass.
We only need to find a nice way to allow the user to go back to the main search page. A "return" button could work the only issue is to find the place for it on mobile.

[2017-08-07 16:05] ajburls commented on #85
agreed

[2017-08-07 16:08] SimonLab commented on #32
The lazy loading is ready to be tested on the staging, thanks

[2017-08-07 16:15] ajburls commented on #32
Nice :-)

[2017-08-07 16:15] #32 closed

[2017-08-07 16:30] markwilliamfirth commented on #99
@SimonLab to look into this bug

[2017-08-07 16:43] SimonLab commented on #103
Without the left line:
![image](https://user-images.githubusercontent.com/6057298/29036582-f1a636a8-7b97-11e7-90db-f5df39e1b48c.png)

Is this ok?

[2017-08-07 21:13] SimonLab commented on #104
![image](https://user-images.githubusercontent.com/6057298/29046000-82603d04-7bbd-11e7-8f81-f8fda5680ef7.png)
All the documents have a unique id (called also "id" in the API) that we can use to identify a specific element

[2017-08-07 21:13] #104 closed

[2017-08-07 22:05] ajburls opened #111 "Sub-types of evidence"
As user of this app
I want to be able to filter results by type of evidence but without having to scroll down the screen on my mobile.
Therefore I need the sub-types of evidence e.g. the country from which a guideline comes, only to open when they are selected or have a mouse over.
In order to keep the content on the screen, the sub-type menu could open on top of the overall menu for selection the

[2017-08-08 08:11] markwilliamfirth commented on #36
Thanks @ajburls

To confirm the following needs to be done:

- [ ] Hex codes / colours need to be changed to city colours
- [ ] City's responsive logo needs to be added to the about us page (waiting on #23 )

@ajburls please could you assign a priority label to this issue? Due to the fact that you are opting for a different domain #30 to a city domain, I assume you wish the font to stay as it is?

[2017-08-08 08:12] markwilliamfirth commented on #23
This is a requirement for #36 so has now been bumped into Sprint 2

[2017-08-08 08:16] markwilliamfirth commented on #25
Linked to #111

[2017-08-08 14:12] ajburls commented on #31
Here are proposed trigger questions:

For notes about questions/search

**Did you find evidence to inform your question?**
Yes | Partially | No

For notes about answers

**What is the design of this paper?**
[Drop down list from which only one can be selected]
•         Guideline
•         Policy document
•         Systematic Review
•         Randomized controlled trial
•         Cohort study
•

[2017-08-09 10:48] markwilliamfirth commented on #99
@ajburls Simon has deleted your yahoo email from the database, so please try signing up again

[2017-08-09 11:03] ajburls commented on #99
@markwilliamfirth Mark, not sure what exactly the please test refers to. If it is accessing the app from my phone, no I still can't do this without generating yet another fake ID.

I have tested results page search box and it appears unchanged (the screenshot you included above is not the page I am referencing) - you can edit and run search from results page but the "done" button is still appearin

[2017-08-09 11:42] ajburls commented on #99
@markwilliamfirth @SimonLab I created a new account. I was able to log in with it but when I closed the app I was required to login again.

So progress in that I can get into app without creating a new fictitious account but still not doing what it was doing before and what is required - allowing a user who has logged in on a new device to use the app again without further requirement for loggin i

[2017-08-09 12:48] markwilliamfirth commented on #99
Linked to #88

[2017-08-09 12:52] markwilliamfirth commented on #99
Thanks @ajburls glad that you can log in now with the yahoo email, I've noted above with the login tracking issue that you had to log in more than once.

With regards to the main issue description - the ability to run a search from the results page - are you able to do this now in your testing?

With regards to your comment about the wording - that is recorded in a separate issue here: https://git

[2017-08-09 12:54] ajburls commented on #99
@markwilliamfirth _With regards to the main issue description - the ability to run a search from the results page - are you able to do this now in your testing?_ Yes

Is this _I've noted above with the login tracking issue that you had to log in more than once._ Part of this issue or should it now be closed?

[2017-08-09 12:55] markwilliamfirth commented on #85
Summary of action points:

- [ ] Change 'Done' link to a Search button for desktop and mobile

- [ ] Create a return button on left of the search terms box to go back to main page for desktop and mobile

Now that requirements have changed since the original time estimate @Cleop please could you time estimate these two tasks?

[2017-08-09 13:02] ajburls opened #113 "Persistent problems with log in and inconsistencies in history"
I noticed that the history was different in the record shown online than the record shown on my phone.

The record online showed searches that I had done going back a long time even though Simon had deleted my ajburls@yahoo.co.uk account and I had recreated it earlier today on my phone.

The history on phone was only since I recreated the account.

So I deleted cookies on my computer so that I had

[2017-08-09 13:03] markwilliamfirth commented on #99
@ajburls because I've made a reference to issue 88 above, it means it's linked that issue to this one so it's recorded against the login tracking issue. Issue 85 is taking care of the search and return buttons so since you've confirmed the functionality is working this issue can be closed now 😄 👍

[2017-08-09 13:03] #99 closed

[2017-08-09 13:05] markwilliamfirth commented on #113
@ajburls can you confirm which app you are using for each of these cases? Is it:

best-evidence-staging.herokuapp.com

or

best-evidence-app.herokuapp.com

[2017-08-09 13:09] ajburls commented on #113
@markwilliamfirth

best-evidence-staging.herokuapp.com for both

[2017-08-09 13:23] markwilliamfirth commented on #113
@SimonLab please can you look into this bug on best-evidence-staging.herokuapp.com?

- Desktop app showed historical record of searches for a newly created account that was previously deleted (ajburls@yahoo.co.uk), whilst the mobile app did not show historical searches
- Deleting cookies did not resolve the issue, instead Amanda is not able to log in to the app

[2017-08-09 13:39] SimonLab commented on #113
@markwilliamfirth @ajburls the database on staging is changing and will change with the notes feature. So unfortunately this means that the staging database is not fully stable and some data conflict can occur as the application is still in development (however the production database is stable). This might be why @ajburls you have some issues to login and see the same data on the history page.

I

[2017-08-09 15:14] ajburls commented on #113
@SimonLab @markwilliamfirth
Yes, good plan, please do re-set everything and I will create my ajburls@yahoo.co.uk account again when you signal this is done and check whether problems are resolved.

You should also delete of the fictitious emails I created like mad@gmail.com and rubbish5!

Thanks

Amanda

[2017-08-09 16:23] markwilliamfirth commented on #23
@ajburls to come up with some initial content for the page

[2017-08-09 16:32] markwilliamfirth commented on #31
This issue as been added to the Sprint 3 planning draft as Amanda confirmed in the call today that she would like this completed before the end of Sprint 3

[2017-08-09 16:49] markwilliamfirth commented on #30
@ajburls

Your question via email:

The proposal says:

Would you like us to update this to 1 year of hosting? We have yet to invoice for hosting costs so this could be done easily (although obviously the price for the year will be larger)

[2017-08-09 18:51] ajburls commented on #30
Probably better to make your hosting shorter if anything as we need it to be hosted on City servers if we are going to do research with the app, so the sooner that happens the better.

[2017-08-10 07:03] SimonLab opened #115 "duplicate code in history controller"
We have some duplicate code in the history controller which modify the order of the searches. This code needs to be deleted
see https://github.com/dwyl/best-evidence/blob/0b22615ac0e913511b4c42d58a39cd2adf72a1a3/web/controllers/history_contorller.ex#L8-L11 and https://github.com/dwyl/best-evidence/blob/0b22615ac0e913511b4c42d58a39cd2adf72a1a3/web/controllers/history_contorller.ex#L33

[2017-08-10 08:34] SimonLab commented on #115
resolved with #116

[2017-08-10 08:34] #115 closed

[2017-08-10 11:25] Cleop opened #118 "Bug: error when creating new user with a password under 6 chars"
![image](https://user-images.githubusercontent.com/16775804/29168413-a6eda2b4-7dc6-11e7-8b7a-0eb0fd250193.png)
See: https://github.com/dwyl/best-evidence/blob/301c55c35826f08eedc6c3ea331aeb3ac4226504/web/controllers/user_controller.ex#L19

Is looking for email error instead of password error.

[2017-08-10 16:13] markwilliamfirth commented on #24
@ajburls this issue was created from the original proposal and is still in the backlog. Please could you update the priority label? For now, I'm adding this to the Sprint 3 planning draft, as I think this is one that should be tackled in Sprint 3.

[2017-08-10 16:57] markwilliamfirth commented on #26
@ajburls this issue was created from the original proposal and is still in the backlog. Please could you update the priority label and add any additional information that is required?

[2017-08-10 17:02] markwilliamfirth commented on #21
@ajburls this issue was created as a placeholder during original sprint planning and is still in the backlog. Please could you update the priority label and add any additional information that is required? We require a lot more information on the implementation of this and what it might look like - is this similar to the complex informed consent in the water application? (24h delay etc)

[2017-08-10 17:03] markwilliamfirth commented on #29
Closing in favour of #76 and #21

[2017-08-10 17:03] #29 closed

[2017-08-10 17:13] markwilliamfirth commented on #20
@ajburls thank you for confirming this - please could you clarify how you would like this to be implemented?

The current assumption is the following (based on the original scope):

- There will only be one administrator login
- The administrator will be able to login through a different admin page (not within the app login)
- There will be two columns (1) User ID (2) Search

Please can you confir

[2017-08-10 17:17] markwilliamfirth commented on #101
@ajburls I need to confirm one thing with you:

The current assumption for this is that when a search from the search history is deleted, the corresponding data that links to it is also deleted (publication history related to that search, notes on those publications and notes on the search itself). I want to confirm that you're happy with this described functionality?

[2017-08-10 17:21] markwilliamfirth commented on #71
Note for design of this page: according to #62 with regards to the history link:

[2017-08-10 17:26] markwilliamfirth opened #122 "View of Note Completion Status from History Page"
@ajburls I'm creating a new issue for [this comment](https://github.com/dwyl/best-evidence/issues/62#issuecomment-318907530) in #62

![image](https://user-images.githubusercontent.com/16775804/29267913-a05f0982-80e2-11e7-8c53-70407d4bf156.png)
![completed note](https://user-images.githubusercontent.com/5732209/29275543-65acac6a-8103-11e7-966d-6782013645c2.png)

**Search notes**
- [x] Checkbox appe

[2017-08-10 17:27] markwilliamfirth commented on #62
Reorganising this by closing this issue in favour of #71 and #122

[2017-08-10 17:27] #62 closed

[2017-08-10 17:32] ajburls commented on #101
@markwilliamfirth I am not sure... It seem to makes sense if one assumes that the search is deemed no longer relevant. However,  looking to future proposed functionality of the app where users will be able to print out a nicely formatted pdf of their activity over a defined period to use as proof of their CPD for revalidation purposes, people may wish to remove irrelevant searches yet not lose the

[2017-08-10 17:37] markwilliamfirth opened #123 "How to define a new search with filter use"
@ajburls how would you like to define a new search in the history bearing filters in mind? When a filter is changed this changes the search results and thus can be interpreted as either a new search or part of the same search. This is important for search history aggregation and recording of notes against searches. My suggestion would be to treat it as one search regardless of filters applied, alt

[2017-08-10 17:39] ajburls commented on #24
@markwilliamfirth done - happy for this to go to next sprint

[2017-08-10 17:40] markwilliamfirth commented on #113
Next step:

- [ ] Simon to reset the staging database

[2017-08-10 17:42] ajburls commented on #26
@markwilliamfirth I think the priority 3 is right. It will be important for us to be able to give to potential future funders information about how the app is being used. We are proposing to give the app to students to whom we are promoting EBP as an educational tool in September and would want to know whether they are using it.

[2017-08-10 17:42] markwilliamfirth commented on #107
@ajburls how many different rebrands would you estimate would need to occur? i.e. how many sponsors / different versions would there be?

[2017-08-10 17:43] markwilliamfirth commented on #103
@ajburls please can you test and close this issue?

[2017-08-10 17:45] ajburls commented on #21
@markwilliamfirth the thinking behind this was not to put people off using the app because the notes they make would be seen by others. We therefore wanted to have people be able to use the app but have the free text notes encrypted so that they could not be seen even by us. However we would still record data about searches made and whether a note was made etc. so we need to have them consent to t

[2017-08-10 17:48] markwilliamfirth commented on #98
The above has been completed in https://github.com/dwyl/best-evidence/issues/103

@ajburls with regards to the remaining requirements and to clarify, would you like us to implement black (as opposed to bold blue text) on the results page or would you like us to research into font readability guidelines?

[2017-08-10 17:52] ajburls commented on #96
@markwilliamfirth This is the kind of thing that user feedback would help us decide what is best. We want a clutter free screen and so perhaps the date last updated should only be visible if you open the note. That is my intuition about what would be best, but it may be that people will want to "eyeball" when they last updated a note without actually opening it. I think that having the three-way s

[2017-08-10 18:02] markwilliamfirth commented on #94
@Cleop please can you add a time estimate to this?

[2017-08-10 18:03] markwilliamfirth commented on #92
@SimonLab please could you time estimate this?

[2017-08-10 18:04] markwilliamfirth commented on #85
@cleop please could you time estimate the above?

[2017-08-10 18:04] markwilliamfirth commented on #76
@SimonLab please could you time estimate this?

[2017-08-10 18:05] markwilliamfirth commented on #61
@SimonLab please could you time estimate this?

[2017-08-10 18:12] markwilliamfirth commented on #31
@Cleop please could you time estimate this?

[2017-08-10 18:14] markwilliamfirth commented on #26
@Cleop please could you time estimate this?

[2017-08-10 18:14] markwilliamfirth commented on #24
@Cleop please could you time estimate this?

[2017-08-10 18:16] ajburls commented on #20
@markwilliamfirth For the MVP a single admin log in to view the backend would be sufficient. (Ideally, we would like to have more admin access to the database with different levels of permissions, so, for example the College of Optometry users data only could be observed by the College of Optometry researcher, or some people can view and analyse but only a few can clean and edit data.) Yes, this s

[2017-08-10 18:17] ajburls commented on #71
@markwilliamfirth this is right

[2017-08-10 18:23] markwilliamfirth commented on #30
@ajburls I have to follow the original proposal so we'll have to stick with what we have in the proposal and we can move the application whenever it is necessary to do so.

Next steps:

- [ ] Mark to contact Amanda's domain contact to retrieve domain

- [ ] Transfer of domain

- [ ] Mark to link domain to production site

[2017-08-10 18:24] ajburls commented on #122
@markwilliamfirth Completed note needs a different icon  - one for incomplete and one for complete (could be colour (not red/green because of prevalence of this type of colour blindness!) or an outline pencil and a solid pencil etc)  and, yes, user decides if a note is completed. To illustrate with an example, someone might write a note on a paper such as "this looks like a really good resource, m

[2017-08-10 18:24] markwilliamfirth commented on #30
@ajburls please let me know if you would like this completed during this sprint (Sprint 2) or Sprint 3

[2017-08-10 18:30] ajburls commented on #123
@markwilliamfirth Ah - I hadn't thought about this. I think I was assuming that it was a full search and the filters were applied later i.e. I just assumed it would do what you are suggesting it should do. This seems like the easiest thing to implement for now and sufficient for the MVP but it is an interesting issue that we can explore with focus groups of users, to see whether they would like or

[2017-08-10 18:39] ajburls commented on #107
@markwilliamfirth  Hard to say.  I can imagine doing lots of separate projects with different specialities or groups e.g. RCN, College of Optometrist, dentists, radiographers, students of mental health nursing, a particular hospital or practice...

Also homologous organisations from other countries

In theory many hundreds (each branding linked to/by the flag/s for specialty or organisation we dis

[2017-08-10 18:40] ajburls commented on #103
Yes, screen looking better each time :-)

[2017-08-10 18:40] #103 closed

[2017-08-10 18:45] ajburls commented on #98
@markwilliamfirth on the phone the blue font for the paper (which distinguishes it from search in black) on the history is quite readable and aesthetic.

I think it would be fine to just use same typeface and colour for the returned results of the searches rather than the current heavier blue font in bold.

[2017-08-10 18:48] ajburls commented on #30
@markwilliamfirth This can be Sprint 3 as it is behind the scenes and will not be apparent to user and priority should be to get something good we can show to people about what the app will be like in use.

[2017-08-11 10:15] markwilliamfirth commented on #18
@ajburls do you want a template with the note linked in the email when the note is shared (in a similar way to the feedback button, but without automatic sending - the user chooses who it is sent to)?

[2017-08-11 10:26] markwilliamfirth commented on #61
@ajburls I've caught up with Simon and we need to know where exactly you'd like the log out button to be and on what pages you'd like it to be on? Would this appear on all pages or perhaps just the user settings page? Please bear in mind that this button will take up a lot of space (especially on mobile) and this needs to be taken into consideration. The simplest and quickest implementation of thi

[2017-08-11 10:30] ajburls commented on #18
@markwilliamfirth Yes

The share button from a search/question needs to produce an email with the search terms used and the content of the free text note any trigger questions (currently only one: did you find evidence to answer your uncertainty? (or words to that effect)) and option selected (Currently: Yes|Partially|No|Not applicable). This should be editable so sender can change content. Perhap

[2017-08-11 10:35] ajburls commented on #61
@SimonLab @markwilliamfirth I think that it will be the exception for people to use it on a public computer so the logout button would be OK on the Settings page. Although I think we need to give a clear warning somewhere (login page seems obvious choice) along the lines that

**If you are using this app on a public computer, please remember to logout of the app [on the settings page] when you hav

[2017-08-11 11:09] markwilliamfirth commented on #61
@ajburls great thanks for confirming that - I think this is a good starting point to implement this functionality and can always be further improved upon later

Summary of requirements:

- [ ] Logout button on User Settings Page #24

- [ ] Include message on login page, "If you are using this app on a public computer, please remember to logout of the app [on the settings page] when you have finish

[2017-08-11 13:45] markwilliamfirth commented on #18
## Requirements:

In both instances the user would enter the email address to share

**Sharing a search note:**

- [ ] Email created

- [ ] Subject of email is _Note about [search terms]_

- [ ] Email body:

  - [ ] Search terms used

  - [ ] Content of the free text note

  - [ ] Trigger question _Did you find evidence to answer your uncertainty?_

  - [ ] Option selected _Yes|Partially|No|Not ap

[2017-08-11 13:49] markwilliamfirth commented on #122
@ajburls thanks for confirming that. Can you clarify how a note is marked as complete? Two ways of doing this spring to mind

1. A checkbox that says note is complete above the save note button

2. Two save buttons, "Save as Incomplete" and "Save as Complete"

Please could you let us know which is preferable or if you have a different idea?

[2017-08-11 13:54] markwilliamfirth opened #125 "Bottom Nav Bar"
This needs to be created in line with Harry's wireframes #9

<img width="373" alt="screen shot 2017-08-11 at 14 51 19" src="https://user-images.githubusercontent.com/5732209/29215875-a6d9dd68-7ea4-11e7-8191-977cd410e137.png">

**Requirements:**

- [x] Implementation of UI for bottom nav bar on mobile

- [x] Linking of the bottom nav bar to respective pages

- [x] Include history as a selection

-

[2017-08-11 13:57] markwilliamfirth opened #126 "User Settings: Display User Type Functionality"
Linked to #24

As a product owner
I want users to be able to see what user type they picked in their settings
So they can remind themselves of what they chose

**Requirements**

- [x] Display the user type the user selected when they signed up to the application

[2017-08-11 13:59] markwilliamfirth opened #127 "User Settings: Display Email Functionality"
Linked to #24

As a product owner
I want users to be able to see what email they signed up with in their settings
So they can remind themselves of what they entered

**Requirements**

- [ ] Display the email the user selected when they signed up to the application

@SimonLab @Cleop please could you provide a time estimate for this?

[2017-08-11 14:02] ghost opened #128 "User Settings: Change Password Functionality"
Linked to #24

As a product owner
I want users to be able to change their password in their user settings
So they can keep their account up to date and secure

A user clicks 'change' password
User types in their new password and clicks save
Does a user have to enter their new password twice to ensure there are no typos?
Does a warning message that says 'min 6 characters' need to be shown?

**Requi

[2017-08-11 14:03] markwilliamfirth opened #129 "User Settings: Change Email Address Functionality"
Linked to #24

As a product owner
I want users to be able to change their email in their user settings
So they can keep their account up to date and secure

**Requirements**

- [ ] Allow users to change email in user settings

- [ ] Create this functionality with the most simple and quickest design implementation (MVP) as a starting point

@SimonLab @Cleop please could you provide a time estimate

[2017-08-11 14:04] markwilliamfirth opened #130 "User Settings: User Type Functionality"
Linked to #24

As a product owner
I want users to be able to change their user type in their user settings
So they can keep their account up to date

**Requirements**
- [x] Users can click 'change' in settings to change their user type
- [x] Users select given user type from checkboxes
- [x] Updated user type is saved in the db
- [x] Also appears on sign-up (reveal checkboxes by clicking on headin

[2017-08-11 14:06] markwilliamfirth commented on #24
I've caught up with Simon and Cleo - this is quite a large issue and we'll need to break it down further.

@ajburls I just wanted to double check with you that you still want all of this functionality as a priority? #126 #127 #128 #129 #130 ? They are all currently in the Sprint 3 draft with priority 3 labels.

[2017-08-11 15:36] Cleop commented on #26
Currently GA gives us information on:
- number of unique and repeat users to the site (retention)
- no. of page views
- origin of users by country
- device of users e.g. mobile, tablet, desktop
- time/day of visits
- referral e.g. github
- when users click on the feedback button and which page they were on when the feedback button was clicked

[2017-08-11 16:11] ajburls commented on #18
@markwilliamfirth

Almost :-)
The sharing a publication note would be the note trigger questions (see #31)

What is the design of this paper?
[Drop down list from which only one can be selected]
• Guideline
• Policy document
• Systematic Review
• Randomized controlled trial
• Cohort study
• Case-control study
• Qualitative study
• Economic evaluation
• Diagnostic test accuracy study
• Cross-sectio

[2017-08-11 16:12] ajburls commented on #122
@markwilliamfirth I think that option 1 is best with it off as default.

[2017-08-11 16:14] markwilliamfirth commented on #107
@ajburls ok if it's less than 10 and it's not an immediate requirement then it's probably best to leave this issue in the backlog and us to manually create the new designs as they come in. We could create some kind of content management system (CMS) to do the above, but I don't think the time investment would pay off for the level of customisation required.

[2017-08-11 16:16] ajburls commented on #127
@markwilliamfirth Actually I think this is NOT right. We want to protect people's privacy so the admin access to database would only show a unique user ID linked in some encrypted form to their email address. I want to be able to see all the records for the unique user ID so I can follow, say, their progress and activity, but I don't want to know who they are.

[2017-08-11 16:26] ajburls opened #132 "About Page - Draft text"
Amanda Burls is the Director of ThinkWell and Professor of Public Health at City, University of London. She conceived and designed the BestEvidence app.

Jon Brassey is the Lead for Knowledge Mobilisation at Public Health Wales (NHS) and Director of Trip Database Ltd.  Trip database is the meta-search engine for clinical information used by BestEvidence.

Jose Emparanza is the Head of the Departme

[2017-08-11 16:52] ajburls commented on #36
@Cleop City powerpoint
[City.pptx](https://github.com/dwyl/best-evidence/files/1218520/City.pptx)

[2017-08-11 16:52] markwilliamfirth commented on #122
@SimonLab @Cleop would you be able to time estimate this?

[2017-08-11 17:01] ajburls commented on #132
@Cleop

Text: ThinkWell Link to: www.ithinkwell.org
Text: Trip Database [second occurrence] Link to: https://www.tripdatabase.com/
Text:  International Society for Evidence-Based Health Care  Link to: http://www.isehc.net/
Text: City, University of London [second occurrence] Link to: https://www.city.ac.uk/

[2017-08-11 17:04] ajburls commented on #24
@markwilliamfirth I have made two priority 4 to rank these better

[2017-08-11 17:40] ajburls commented on #26
@Cleop these sound very useful but will we know whether they clicked through to papers and, if so, can we tell how many papers from an individual search?

[2017-08-11 17:44] ajburls commented on #107
@markwilliamfirth  The problem with that solution is that if you have to do it we need to find money each time and that would be a barrier. Can you give me a ballpark figure for what each customisation would be likely to cost (I won't hold you to it ;-))

[2017-08-14 10:21] Cleop commented on #22
Possible note symbols:
![image](https://user-images.githubusercontent.com/16775804/29267913-a05f0982-80e2-11e7-8c53-70407d4bf156.png)
![image](https://user-images.githubusercontent.com/16775804/29267925-af2a15ba-80e2-11e7-8223-5bf2fbe76e69.png)

[2017-08-14 10:33] ajburls commented on #22
@cleop We need three messages: Note symbol that indicates there is nothing written, note symbol that indicates some notes but not complete, completed note.

Could be achieved by changing colour or by symbols for example yours above could have third one with lines across indicating note written

[2017-08-14 14:09] markwilliamfirth commented on #22
Linked to https://github.com/dwyl/best-evidence/issues/122

[2017-08-14 14:15] markwilliamfirth commented on #22
@ajburls something like this for a completed note?

![completed note](https://user-images.githubusercontent.com/5732209/29275543-65acac6a-8103-11e7-966d-6782013645c2.png)

[2017-08-14 14:43] ajburls commented on #22
@markwilliamfirth @Cleop  Yes - looks good

[2017-08-14 15:10] markwilliamfirth commented on #20
@ajburls some of this has already been mentioned at our stand up catch ups, but thought it's best to summarise here:

The only reason for this is that this was the requirement from the original scope, it's completely fine if the scope has changed, we just need to keep in mind the priorities for the project so we deliver everything that's required by the close of sprint 3.

**Summary of MVP require

[2017-08-14 15:13] markwilliamfirth commented on #107
@ajburls yes we can do that - we should probably discuss this one at sprint 3 sprint planning as the initial rebranding has already been completed and this isn't currently a priority

[2017-08-14 15:27] markwilliamfirth commented on #98
**Requirement:**

- [ ] Change font of returned results of the searches to the blue font for the paper on the history page

@Cleop @SimonLab please can you time estimate this?

[2017-08-14 15:29] markwilliamfirth opened #133 "Filtering of Searches: Clinical Area"
Filtering of searches as per TRIP categorisation

- [ ]  Clinical Area

<img src="https://user-images.githubusercontent.com/16775804/28272918-cb3fdda0-6b04-11e7-8e4b-1076cca3d28c.png" width=250px />

[2017-08-14 15:30] markwilliamfirth opened #134 "Filtering of Searches: Sort by Quality, Date & Relevance"
Filtering of searches as per TRIP categorisation

- [ ]  Sort by: Quality, Date, Relevance

<img src="https://user-images.githubusercontent.com/16775804/28272918-cb3fdda0-6b04-11e7-8e4b-1076cca3d28c.png" width=250px />

Linked to #25

[2017-08-14 15:32] markwilliamfirth commented on #111
@Cleop @SimonLab please could you time estimate this?

[2017-08-14 15:33] ajburls commented on #20
@markwilliamfirth agree with above

[2017-08-14 15:34] markwilliamfirth commented on #93
@ajburls we'll assess this one at the Sprint 3 sprint planning to see if there is a simple solution / if it's going to be an issue and if there any work arounds we could employ in the short term

[2017-08-14 15:44] markwilliamfirth opened #135 "Feature: Delete a Note Button"
As a user
I want to be able to delete a note I've made
So that I can manage my notes

@ajburls I have created this issue because we are adding management / completion status of notes.

1. Is this feature desirable?
2. Would you like a special delete note button? Where would you like this to be?
3. What is the priority for this?

[2017-08-14 15:44] markwilliamfirth opened #136 "Delete a Note by Editing a Note"
As a user
I want to be able to delete a note I've made from the edit note view by deleting the content
So that I can manage my notes

@ajburls I have created this issue because we are adding management / completion status of notes.

1. Is this functionality desirable?
2. Would you like a note to be deleted when a user saves a note with no content as "incomplete"/"completed"?
3. If so, what is the

[2017-08-14 16:00] ajburls commented on #135
@markwilliamfirth I think the easiest thing would be to have a button within the edit note function. i.e. when a note is opened, it can be read, edited or deleted. Deleting to remove all notes, i.e. leave blank fields and default values which could later be used if desire. Presumably it would be best that deleting led to a "You are about to delete this note - do you wish to continue?" type message

[2017-08-15 16:25] ajburls commented on #132
@cleop THanks for adding these
Link to www.iThinkWell.org is not going to the website but returning "page not found" despite fact that website is working.
The link to **City, University of London** is in wrong place it should be on second occurrence of phrase - that is the first occurrence in paragraph 4.

Still awaiting confirmation from City that they are happy with wording.

[2017-08-15 16:31] ajburls commented on #71
@Cleop
Had a look at the notes page - looking good, Note that warning text needs improving - suggest change to (#65)

Do NOT to write notes that could could breach patient confidentiality

[2017-08-15 17:25] Cleop opened #139 "Test filter by evidence category"
Tests needed for filter by evidence category in the search controller.

[2017-08-16 07:31] markwilliamfirth opened #140 "Note Encryption"
TBC at Sprint Planning

[2017-08-16 07:35] markwilliamfirth opened #141 "Sharing of Papers"
Linked to #8 and #18
TBC

[2017-08-16 07:37] markwilliamfirth opened #142 "Allowing users to save specific articles"
TBC

This would imply adding a page to allow them to review these as well

[2017-08-16 08:13] markwilliamfirth opened #143 "User Type"
More than one

TBC

[2017-08-16 08:23] markwilliamfirth commented on #125
Include history as a selection

[2017-08-16 08:29] markwilliamfirth opened #144 "Bug: Tachyons Not Working"
A new version of tachyons was published yesterday https://unpkg.com/tachyons@4.8.1 https://www.npmjs.com/package/tachyons

This has caused the old Tachyons link to stop working

Proposed solution: use npm to get the new package and check and update the package when necessary

[2017-08-16 08:32] markwilliamfirth commented on #85
Return button no longer required due to https://github.com/dwyl/best-evidence/issues/125#issuecomment-322701091 (home button)

[2017-08-16 08:33] markwilliamfirth commented on #88
Amanda to be notified when app is redeployed to see if this is the issue

[2017-08-16 08:35] markwilliamfirth commented on #136
Requirements changed to: allow users to create and save blank notes

[2017-08-16 08:39] markwilliamfirth opened #145 "Allow users to create and save blank notes"
Linked to https://github.com/dwyl/best-evidence/issues/136

[2017-08-16 08:55] markwilliamfirth opened #146 "Implementation of online database platform for admin queries"
As a product owner
I want to be able to query the database
So that I can have a better understanding of what my users are doing

**Acceptance Criteria**

- [x] Implement Redash
- [x] Set up Redash subscription after 30 day trial

This issue is purely for the implementation of the system (Redash requested initially) and not for the solution and data it provides

[2017-08-16 09:16] markwilliamfirth commented on #130
e.g.
Student
Health Professional
Member of the Public

@ajburls to confirm list of 8 user types

[2017-08-16 09:27] markwilliamfirth opened #147 "Validity / Results / Relevance"
- [x] Add a line on note creation / editing pages which says "Think about validity, results and relevance" below the note text field

[2017-08-16 09:36] markwilliamfirth opened #148 "Research into Incorporating other Databases and Applications"
BNF
https://www.bnf.org/

NHS Evidence ( + policy)
https://www.evidence.nhs.uk/

[2017-08-16 09:56] markwilliamfirth opened #149 "Change Informed Consent Wording"
Change "encrypted database" to "secure database"

[2017-08-16 20:46] SimonLab commented on #144
we were using an external css link to load Tachyons in our project:
https://github.com/dwyl/best-evidence/blob/491bf5e2facfa5ffc70da8786aa066f69f5998b7/web/templates/layout/app.html.eex#L25

with the new version (4.8.1) it appears that the linked is now broken so all of our css was also broken. We could have just updated to the next version with https://unpkg.com/tachyons@4.8.1 but this doesnt' so

[2017-08-17 08:19] SimonLab commented on #144
resolved with #151 and #150

[2017-08-17 08:19] #144 closed

[2017-08-17 08:23] SimonLab commented on #139
and only add the even listener on the search result page,otherwise javascript will try to get the filter dom element by id and fail as it doesn't exist on the other pages:
![image](https://user-images.githubusercontent.com/6057298/29402643-9f68facc-832d-11e7-9020-eef2c18a36fc.png)

[2017-08-17 15:30] SimonLab opened #152 "Rethink Database Structure and relations"
As a developer I want to have a clear idea of the structure of the database so I can build the features on the based on the right data.

This is issue is linked to the "create notes for publications" issues #22

The actual relation between Publications and Searches is defined in:
- Search schema with "has_many": https://github.com/dwyl/best-evidence/blob/c51e2674cd3884408ff1bef8efcdf0d625a6fc0d/we

[2017-08-21 10:00] SimonLab commented on #149
![image](https://user-images.githubusercontent.com/6057298/29514317-ff243794-865f-11e7-9c29-e029338d5672.png)

[2017-08-21 10:15] ajburls commented on #149
@SimonLab @markwilliamfirth This wording is better. Thanks. We discussed that the reminder information below the I agree should be put above the I agree.

I noticed a bug when testing this and that is that the "register new account" link on the login page just takes you to the search page if you have logged in before and have cookies. So this either needs to be changed to log out or direct to corr

[2017-08-21 10:24] SimonLab commented on #149
Thanks for testing and to remind us that the reminder should be put above the the "I agree" button.

Can I ask a bit more details on the bug you notice. Normally if the user is currently logged in, she shouldn't be able to access the "login", "consent" and "create user page" so she shouldn't be able in the first place able to click on the "register new account" link. Do you know how you manage to

[2017-08-21 10:36] SimonLab commented on #140
linked to #149 At the moment the database is protected by password and is not accessible, users can only access their own information.
The wording of the consent page as been updated to reflect this.

[2017-08-21 11:34] ajburls commented on #149
@SimonLab I have just tried to reproduce this but without success. All I can tell you is that I opened the app, it went to the login screen (COmputer filled in my email and password in respective fields) but when I pressed register a new account, it went to search. Now it is just going straight to search and I don't get to the login field. (Perhaps in between a new update?)

I will try and get scr

[2017-08-21 14:01] SimonLab opened #154 "Database Structure Technical Documentation"
As a developer I want to understand clearly the structure of the database an dhow it is connected to the application so I can update and implement new features easily

We are currently using Postgres and Ecto 2.
- [ ] Create a Readme doc which explain the structure and how to use Ecto with the application

Meanwhile the best way to understand the code is to be familiar with Ecto, for that you can

[2017-08-21 14:43] SimonLab opened #155 "Podcast on Best Evidence Practices"
I found this podcast this weekend:
 http://freakonomics.com/podcast/bad-medicine-part-1-story-rebroadcast/

I think it's worth listening, it explains what are best evidence practices

[2017-08-21 14:50] SimonLab commented on #113
@ajburls is now a good moment for us to reset the database? We have now deploy the "note publication" feature but we need to delete the current structure of the database to make it work. I just wanted to make sure that you are not currently using it before we delete everything.

[2017-08-21 15:00] ajburls commented on #113
@SimonLab Yes

[2017-08-21 15:00] ajburls commented on #155
Thanks @SimonLab , you may be interested in [www.testingtreatments.org](url) where we accumulate resources like this that help lay people understand what makes a fair test of treatment, the most basic aspect of EBP.

[2017-08-21 15:08] SimonLab commented on #113
@ajburls The database is no empty, you will need to create a new account. You should now also be able to test the notes on searches and publications

[2017-08-21 15:10] SimonLab commented on #152
This is now implemented, the documentation will be done with #154

[2017-08-21 15:10] #152 closed

[2017-08-21 15:13] SimonLab commented on #105
done with #153
![image](https://user-images.githubusercontent.com/6057298/29525754-9a61884e-868b-11e7-8703-e8ac9cc0f757.png)

[2017-08-21 15:13] #105 closed

[2017-08-21 15:18] ajburls commented on #113
@SimonLab The history on the laptop and on iPhone now consistent. iPhone is still requiring me to login if I have closed the app. I will test on my Android when I find it :-)

[2017-08-21 15:37] ajburls commented on #22
@SimonLab Simon, I like that we can now write notes on papers and I think it is very good. All my three machines are getting same history and notes.

With respect to the database structure: we need to have the notes for a search or a paper linked. Also, if same search is run again (especially on same day) to get back to the search to find another paper, I think it would be better if it appeared as

[2017-08-21 15:44] ajburls commented on #100
@markwilliamfirth  I get an icon for the app on the iPhone but not on the Android (Samsung S7) whether using Chrome or Dolphin to get an app on the home screen. I tried deleting the current icon for the app and then re-adding again just now and it did not renew with logo. Unfortunately since doing that I cannot login from the Android phone it says wrong username/password etc.

[2017-08-21 16:09] ajburls commented on #113
@SimonLab I tested this on Android and all is consistent (It wouldn't let me login but it let me register a new account with the same log in details as the old account. )

[2017-08-21 16:20] markwilliamfirth commented on #113
Related to #88

[2017-08-21 22:04] SimonLab commented on #149
Reminder is now above the button:
![image](https://user-images.githubusercontent.com/6057298/29540164-030bc86c-86c5-11e7-9739-4cb70fe906fb.png)

[2017-08-22 07:28] ajburls commented on #149
@SimonLab Looks good. Thanks

[2017-08-22 07:28] #149 closed

[2017-08-22 07:41] ajburls commented on #145
@SimonLab

Thanks, able to write and save notes and records appearing in history. If the issue about showing that there are notes when paper opened on subsequent searches, is captured somewhere else this issue can be closed. (I think the latter was for the next Sprint?)

[2017-08-22 07:49] ajburls opened #159 "Link back to search from notes page"
As a user, I would like to go back to search page directly from a note and not have to go via history as at present. (see screenshot).

Is this something that will automatically be put in place with the buttons on the bottom that are being done?( Will these be on every page?)
![image](https://user-images.githubusercontent.com/30235568/29554392-d5c29028-8716-11e7-82a4-aaab4deba514.png)

[2017-08-22 08:00] ajburls commented on #132
@Cleop City are happy with wording, but very keen that the corrections to the about us page identified in previous comment are corrected as a first priority before the app is shared with anyone else.

[2017-08-22 11:36] SimonLab commented on #159
On mobile the footer will indeed have the search icon which lead the user to the main search page:
![image](https://user-images.githubusercontent.com/6057298/29563621-52c01c02-8736-11e7-9a11-fbf776ac94c5.png)
On Desktop we will add a link near "history" and this will be on every page I think

[2017-08-22 11:40] SimonLab commented on #132
@ajburls the links should be correct now, let us if this works, thanks.
![image](https://user-images.githubusercontent.com/6057298/29563800-14cccb2e-8737-11e7-98bd-b43b95d3c20c.png)

[2017-08-22 11:42] ajburls commented on #132
Thanks @SimonLab , this is great.

[2017-08-22 11:42] #132 closed

[2017-08-22 12:06] markwilliamfirth commented on #113
@ajburls thanks for confirming that history is now consistent, we can now close this issue and I've linked to the logging in issue above so we know that bug is recorded there again too (we'll close this one in favour of that issue)

[2017-08-22 12:06] #113 closed

[2017-08-22 12:15] SimonLab commented on #145
@ajburls I'm not sure I understand fully what you mean with this issue. Do you mind to open a new issue for this with some details (and screenshots if possible) and I think you can close the current issue. Thanks

[2017-08-22 12:21] markwilliamfirth commented on #140
@ajburls just wanted you to confirm in writing on GitHub if note encryption is or is not something you may want in future (as it was in the original scope) so as to decide whether to officially close this or leave it in the backlog?

[2017-08-22 13:00] ajburls opened #162 "Linking notes from same searches or same paper"
As a user of the app, I want to be able to write notes on a search and see those notes and add to them if I run the same search again. While at the moment it is easy to find a previous search and open the notes attached to it, if a user has a longer history and does more searches, this will not be so easy, so we need to link the searches in the background.

Similarly, if I have found a paper and,

[2017-08-22 13:03] ajburls opened #163 "Can search results indicate studies previously clicked through to?"
As a user, I would like to know which studies I have previously clicked through to look at, by, say, these being shown in a different colour in the returned search results (analogous to the way that links that have been clicked through to on documents etc. change colour).

The titles are sometimes not explanatory and this would reduce re-clicking through to useless studies and also help the user r

[2017-08-22 13:06] ajburls commented on #163
Here I have just re-run a search I did yesterday

![image](https://user-images.githubusercontent.com/30235568/29566807-fb21595e-8742-11e7-9daf-bcbaf70fd5d5.png)

It is not possible to tell from this which papers I have already opened to seek an answer to the question

[2017-08-22 13:10] ajburls commented on #163
In contrast I ran a search on TRIP clicked through to two resources which then became paler. I then re-ran the search and these remained paler, indicating that the links had been used.
![image](https://user-images.githubusercontent.com/30235568/29566960-9fbf3e72-8743-11e7-858c-05294f8099d2.png)

[2017-08-22 13:11] #145 closed

[2017-08-22 13:13] ajburls commented on #140
Yes it is something we will want to consider later but relatively low priority for the time being, I have labelled it priority 4, as there are other things we need before that.

[2017-08-22 15:34] SimonLab commented on #162
Concerning your second point @ajburls ,if I'm correct, at the moment the notes are unique per paper/publication. So if a user add a note on a specific paper this note will be the same on the other searches. For example on the screenshot below the note on "Say Hello To Heart Nuts" papers is the same for the two searches "hello":
![paper_note](https://user-images.githubusercontent.com/6057298/295727

[2017-08-22 19:58] SimonLab commented on #163
I've clicked on the first three links, would this difference of colour work?
![image](https://user-images.githubusercontent.com/6057298/29584755-a0fbf602-877c-11e7-8281-cd4e271c3616.png)

[2017-08-22 20:10] SimonLab opened #165 "Update lazy loading template"
As a user I want to have the same view for the result loaded automatically with lazy loading and I want these papers/publications saved on my history when I click on them so I can have a full and complete history.
![image](https://user-images.githubusercontent.com/6057298/29585222-4a24226c-877e-11e7-9ac5-ee1637463093.png)

- [x] Update the template send to the front end to be the same as the one g

[2017-08-23 06:43] SimonLab commented on #165
Some technical details:
To be able to show the right icon for the publications (add or edit icon), the server needs to get all the publications with their notes for the authenticated user. We can then compare the list of publications from a search to the list of publications already linked to the user. The difficulty of this issue is due to the way we are loading the next page of publication. We a

[2017-08-23 07:57] SimonLab opened #167 "Filter javascript loaded on wrong pages"
![image](https://user-images.githubusercontent.com/6057298/29604935-ff7f230c-87e0-11e7-8f8f-f29620a190cb.png)
Only load the filter javascript script on the results page to avoid error on the other pages

[2017-08-23 12:50] SimonLab commented on #167
fixed with #168

[2017-08-23 12:50] #167 closed

[2017-08-23 16:53] ajburls commented on #163
@SimonLab yes, that is sufficient and I have tested laptop and it works. One side effect is that I now notice that notes that you look at again become paled as well. I am not sure this is helpful but neither is it a huge problem.

[2017-08-23 17:52] markwilliamfirth commented on #36
@ajburls please can you test and close this issue if you are happy?

[2017-08-23 17:53] markwilliamfirth commented on #95
@ajburls please can you test and close this issue if you are happy?

[2017-08-23 17:53] markwilliamfirth commented on #58
@ajburls please can you test and close this issue if you are happy?

[2017-08-23 17:53] markwilliamfirth commented on #23
@ajburls please can you test and close this issue if you are happy?

[2017-08-23 17:55] markwilliamfirth commented on #71
@ajburls not sure what you mean with your reference to 65?

Please can you test and close this issue if you are happy?

[2017-08-23 17:56] markwilliamfirth commented on #25
@ajburls please can you test and close this issue if you are happy?

[2017-08-23 18:01] markwilliamfirth commented on #22
@ajburls please can you test and close this issue if you are happy that the requirements in the top comment have been fulfilled?

We have created a new issue to address your comment above: https://github.com/dwyl/best-evidence/issues/162

[2017-08-23 20:00] SimonLab commented on #163
@ajburls the side effect should be resolved now. Let us know if it works for you. Thanks.

[2017-08-23 20:46] SimonLab opened #170 "Trim inputs text"
as a user I want to avoid empty spaces added by error when I submit a text input (users' email, search terms) so that I can login or compare searches with the right text.

- [ ] Use the [trim](https://hexdocs.pm/elixir/String.html#trim/1) function to delete all trailing spaces

[2017-08-24 09:29] SimonLab commented on #170
For the search terms I think it's ok to remove automatically the trailing spaces before saving the search in the database, however for the email field (create user or login page) I think it's better to add a format validation rule for the email when the form is submitted with Ecto.Changeset. This will let the user know when the email is not valid.

[2017-08-24 14:10] ajburls commented on #118
@SimonLab Thanks. App doesn't crash. Now it returns a message "oops something went wrong" if one tries to create a password of less than 6 characters. (This will do but wouldn't it be better if the message said "Please make sure you use at least 6 characters for your password"? or is this complicated?)

[2017-08-24 14:16] SimonLab commented on #118
There is also a message to let user know that the email length is invalid. I think it's not very obvious because we have already added a warning on the page which looks similar. The error message are automatically created by the validation system. I'm not sure how easy it is to customise it:
![warning-length-emil](https://user-images.githubusercontent.com/6057298/29670637-2c8d99f6-88df-11e7-9473-c

[2017-08-24 14:29] ajburls commented on #36
@cleop The errors on this page now corrected and the links in the right place. So this page can be left as it is.

However, I think the text should be wider so that it fits on page without need to scroll and it would be better for City logo to come after text on City. I have changed priority as this is a lower priority.

[2017-08-24 14:32] ajburls commented on #22
@markwilliamfirth Something has gone wrong on this. The version of the app on my Android no longer shows the same history and notes as the desktop,

[2017-08-24 14:42] SimonLab commented on #22
@ajburls I saw that there are two email addresses on the database linked to your account, one correct and one with a trailing space at the end. I think there was a typo when you created your account. It might be why the history is different. I've created an issue to make sure to delete white spaces at the end of the email, see #170 which will be resolved soon.

[2017-08-24 14:52] ajburls commented on #22
@SimonLab OK that explains that then. Well spotted :-)

@markwilliamfirth re notes at the top it says
**Functionality to create a new note about a publication(T2h)
 Show publications with notes on all notes page"**

Currently, a note on a publication can only be found by going to the history page, as Notes page is only showing notes on searches. I don't know if I am supposed to close this because

[2017-08-24 14:53] ajburls commented on #163
@SimonLab Thanks Simon, all resolved so I will close this issue.

[2017-08-24 14:53] #163 closed

[2017-08-24 14:59] ajburls commented on #118
@SimonLab Thanks for fast response, Simon. I will close this issue then as I think we have much more important ones to deal with.

[2017-08-24 14:59] #118 closed

[2017-08-24 16:36] ajburls commented on #95
@markwilliamfirth looks good. Thanks

[2017-08-24 16:36] #95 closed

[2017-08-24 16:37] #58 closed

[2017-08-24 16:37] #23 closed

[2017-08-24 16:40] ajburls commented on #71
@markwilliamfirth

I meant #97

[2017-08-24 16:43] ajburls commented on #25
@markwilliamfirth I think that all the outstanding issues have been captured as other issues so this can be closed

[2017-08-24 16:43] #25 closed

[2017-08-25 07:19] markwilliamfirth commented on #71
@ajburls if you're happy with the rest of the functionality and 97 is the only issue then this one can be closed and 97 be left open

[2017-08-25 09:11] #71 closed

[2017-08-25 09:31] markwilliamfirth opened #172 "About Us Page Visual Changes"
Linked to https://github.com/dwyl/best-evidence/issues/36

From @ajburls :

- [ ] Text should be wider so that it fits on page without need to scroll

- [ ] City logo to come after text on City

[2017-08-25 09:32] markwilliamfirth commented on #36
@ajburls I have recorded this new requirement here:
https://github.com/dwyl/best-evidence/issues/172

So this issue can now be closed if you are happy what was implemented

[2017-08-25 09:36] #36 closed

[2017-08-25 10:48] markwilliamfirth commented on #100
There wasn't time to resolve this bug in sprint 2, so it will move to sprint 3

[2017-08-25 10:55] markwilliamfirth commented on #22
@ajburls you're correct

- [ ]  Show publications with notes on all notes page

Doesn't appear to display yet

@SimonLab could you please confirm and let us know a time estimate for this to be resolved?

[2017-08-25 11:12] markwilliamfirth commented on #22
Moving this to sprint 3 as there wasn't time to complete this in sprint 2

[2017-08-25 11:17] markwilliamfirth commented on #30
This has almost been completed, waiting on approval of final confirmation email by Shakur

Once this has been approved http://bestevidence.info/ will link to best-evidence-app.herokuapp.com

[2017-08-25 11:20] markwilliamfirth commented on #159
@ajburls please could you test and close this issue if you are happy?

[2017-08-25 11:22] markwilliamfirth commented on #130
@ajburls please could you confirm the list of 8 user types?

[2017-08-25 11:26] markwilliamfirth commented on #18
Times estimate is for original design questions

New trigger questions are not part of this sprint https://github.com/dwyl/best-evidence/issues/31

[2017-08-25 11:48] markwilliamfirth commented on #141
@ajburls please can you assign a priority label to this?

[2017-08-25 11:49] markwilliamfirth commented on #143
@ajburls please can you assign a priority label to this?

[2017-08-25 11:49] markwilliamfirth commented on #142
@ajburls please can you assign a priority label to this?

[2017-08-25 11:56] markwilliamfirth commented on #136
@ajburls would you still like this as a feature? If so please could you assign a priority label? If not please could you close the issue?

[2017-08-25 11:57] SimonLab commented on #142
I'm not sure I understand this issue. At the moment we are saving some information (title, url, tripdatabase_id) about what we call publication (which are the evidences searched). Each time a user click on a publication these information will be saved into the database if they do not exist yet:
![image](https://user-images.githubusercontent.com/6057298/29713065-d9f02716-8994-11e7-9c7e-f4c34bcf43ce

[2017-08-25 11:58] markwilliamfirth commented on #20
Some of the most important functionality desired mentioned in this issue is covered by https://github.com/dwyl/best-evidence/issues/146

Reducing priority to 3 as agreed the rest is not for sprint 3

[2017-08-25 11:58] SimonLab commented on #170
this is now resolve with #171

[2017-08-25 11:58] #170 closed

[2017-08-25 12:01] markwilliamfirth commented on #142
@SimonLab this is a different feature that comes from the original scope

The user has the ability to "save" a publication that will appear on a page of saved publications

This is similar to the way a bookmark functions on a browser

It might not be needed anymore

@ajburls please can you assign a priority or close this issue if it is no longer needed?

[2017-08-25 12:02] markwilliamfirth commented on #17
This has now been completed and tested . - closing

[2017-08-25 12:02] #17 closed

[2017-08-25 12:03] markwilliamfirth commented on #88
@ajburls please could you check if this bug is still present?

[2017-08-25 12:07] SimonLab commented on #142
Thanks for confirming it's another feature @markwilliamfirth . I haven't seen this feature on the original wireframes of @harrygfox and I don't remember to have detailed the user flow for this feature yet but happy to go over this.

[2017-08-25 12:08] markwilliamfirth commented on #100
Moving this to priority 2 as Amanda mentioned in an email she would like this fixed as a priority

[2017-08-25 12:11] markwilliamfirth commented on #142
<img width="772" alt="screen shot 2017-08-25 at 15 10 08" src="https://user-images.githubusercontent.com/5732209/29713510-83bd0572-89a7-11e7-804e-bbc5b48468fe.png">

@SimonLab it may well be that during Harry's and Amanda's discussions they decided not to proceed with it

@ajburls to confirm priority or close if no longer needed

[2017-08-25 12:36] ajburls commented on #159
Looks good. Thanks.

[2017-08-25 12:36] #159 closed

[2017-08-25 12:40] ajburls commented on #130
Doctor
Nurse
Other healthcare professional
Healthcare manager or policy maker
Academic (e.g. researcher or lecturer)
Undergraduate student
Postgraduate student
Lay member of public (e.g. patient or carer)

(People to be able to select more than one)

[2017-08-25 12:43] ajburls commented on #141
@markwilliamfirth done

[2017-08-25 12:50] ajburls commented on #88
@markwilliamfirth @SimonLab Histories and notes are now concordant across the apps (Thanks, Simon, for spotting and resolving trailing space issue). However, I still have to login every time I use the app

[2017-08-25 12:58] ajburls commented on #142
@markwilliamfirth @SimonLab I am also now sure what the original issue reference. The critical functionality I wanted of knowing what you have looked at is covered by the paling of links and the existence of notes.

Other functionality I know I wanted was to be able to get the actual article not just the abstract etc. via, for example, Sci-Hub but I think that is well beyond the scope of the MVP (

[2017-08-25 12:58] #142 closed

[2017-08-25 12:59] ajburls opened #173 "Starring priority references"
As a user I would like to be able to star high priority references I found so that I can find them again easily.

[2017-08-29 11:55] ajburls commented on #94
(Similar to agreed "search" button on history page where currently says done #85)

[2017-08-29 14:05] joseempa opened #175 "internal server error when trying to filter results by Evidence Type"
This is a very useful characteristic when doing searches. This allows me to reduce the numbr of pertinent results.

I get the same problem from mobile and desktop access.

[2017-08-29 14:15] joseempa opened #176 "Tagging notes"
As a user of the app, I would like to be able to tag notes, in order to find those notes related with a particular issue. I would like to be able to search within this set of notes.

[2017-08-29 14:18] ajburls commented on #176
@joseempa This is a great idea Jose and clearly a high priority for the future. Searching within notes will be very important for people who are using the app regularly. Starring notes or references was something (I believe) that was in the specification for this round #173 but I think that if the functionality you suggest were created, it would be a way of marking high priority notes and finding

[2017-08-29 14:52] ajburls commented on #146
@markwilliamfirth wasn't someone going to send me a link to ElephantSQL or something similar so that I could try this out?

[2017-08-29 15:07] ajburls commented on #61
@SimonLab @markwilliamfirth Thinking about this today when I was prioritising the changes for Sprint 3, I think it would actually be better to have a tick box on the login page that was ticked by default that said this is a public computer. And the cookies for remembering the login (which still need to be made to work) would not be used when ticked. This would mean that people do not have to remem

[2017-08-29 15:30] joseempa opened #177 "Asking PICO questions to TRIPDB"
As a user:  We teach our students on the benefits of structuring clinical questions in 4 parts: P, I, C, O.

In  tripdb we can do this type of search. It would be of value from thre point of view of teaching
 if we could incorporate this facility

[2017-08-29 15:33] joseempa commented on #96
@ajburls , completely agree with you Amanda. Date of review is important, to know if we need an updated serach, etc

[2017-08-29 19:20] joseempa opened #178 "Search History, fonts and alignment"
As a user I  see the search history screen very unstructured.
I mean,  different fonts could be used to make a difference between searches, papers and associated  notes.

![image](https://user-images.githubusercontent.com/30256209/29839635-3422258c-8cff-11e7-9c7c-d54ce684cffb.png)

This is an attempt to explain what I mean. Probably is not a good attempt, but I feel that something can be done to s

[2017-08-29 19:36] joseempa commented on #24
I think we could use BMJ Clinical Evidence conditions or categories (32) to help users to explain their interests. They could chooes one or more of these conditions.  We could call them Health Interest Areas, and these are:

1.	Blood and lymph disorders
2.	Care of the elderly
3.	Child health
4.	Cardiovascular disorders
5.	Diabetes
6.	Digestive system disorders
7.	Endocrine and metabolic disorders

[2017-08-30 05:53] markwilliamfirth commented on #24
Linked to #143

[2017-08-30 05:54] markwilliamfirth commented on #178
@ajburls please could you assign a priority label to this?

[2017-08-30 05:56] markwilliamfirth commented on #177
@ajburls please can you assign a priority label to this issue?

[2017-08-30 06:00] markwilliamfirth commented on #175
@SimonLab please could you time estimate this bug?

[2017-08-30 06:03] markwilliamfirth commented on #173
Linked to #142

[2017-08-30 06:27] markwilliamfirth commented on #141
@SimonLab @Cleop please can one of you time estimate this issue?

[2017-08-30 06:33] markwilliamfirth commented on #2
Closing in favour of https://github.com/dwyl/hq/issues/380

[2017-08-30 06:33] #2 closed

[2017-08-30 06:33] markwilliamfirth commented on #3
Closing in favour of https://github.com/dwyl/hq/issues/380

[2017-08-30 06:33] #3 closed

[2017-08-30 07:07] markwilliamfirth opened #179 "Public computer checkbox triggers cookies to not work"
Linked to https://github.com/dwyl/best-evidence/issues/61

- [ ] "This is a public computer" tick box on the login page, ticked by default, triggers cookies to not work

@SimonLab please can you time estimate this?

[2017-08-30 07:07] markwilliamfirth commented on #61
@ajburls I have added the above feature as a new issue here: https://github.com/dwyl/best-evidence/issues/61

[2017-08-30 07:11] markwilliamfirth commented on #146
@ajburls yes this will happen during the sprint - please move this issue higher in the list if you would like it done before other issues

[2017-08-30 07:13] markwilliamfirth commented on #88
@SimonLab this still appears to be an issue, let's ensure we fix it this sprint

[2017-08-30 07:41] Cleop commented on #179
To clarify by 'triggers cookies not to work' you mean that a user is logged out if the browser is closed? @markwilliamfirth

[2017-08-30 09:01] ajburls commented on #179
@Cleop Yes, that is what I meant. If opened on a public machine the person will have to log in each time.

[2017-08-30 09:38] ajburls commented on #146
@markwilliamfirth mark, I think the place for creating the access to the backend database is in the right ranking, but is there something I can be playing with in the interim before you get to this?

[2017-08-30 10:01] markwilliamfirth commented on #146
@ajburls

Here are the links to the suggested two solutions above:
https://www.elephantsql.com/
https://redash.io/

It appears like redash has a demo too:
https://demo.redash.io/

I've contacted ElephantSQL to ask if they have a demo

[2017-08-30 10:43] SimonLab commented on #175
Thanks @joseempa for spotting this.
I start to investigate what is causing the error.

@markwilliamfirth I'm not sure how long it's going to take to fix as I don't know yet the cause but I will update this issue as soon as I have find more information

[2017-08-30 11:02] SimonLab commented on #175
From heroku logs:
![image](https://user-images.githubusercontent.com/6057298/29868921-bad4845c-8d78-11e7-94a2-89f3b6075187.png)

It seems that our result search page try to use a variable (search_changeset) which is not defined when a filter is selected. I think the search_changeset variable is used to represent the search box at the top of the page.
I'm going to check that all of our template are

[2017-08-30 11:04] SimonLab commented on #175
A new PR (https://github.com/dwyl/best-evidence/pull/174) will resolve this issue. We have refactor some template and code structure so this should be fine when the PR is merged

[2017-08-30 11:20] ajburls commented on #146
Thanks

From: Mark William Firth [mailto:notifications@github.com]
Sent: 30 August 2017 11:02
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: Burls, Amanda <Amanda.Burls.1@city.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [dwyl/best-evidence] Implementation of online database platform for admin queries (#146)

@ajburls<https://github.com/ajburls>

Here are the links to t

[2017-08-30 11:41] markwilliamfirth commented on #146
<img width="463" alt="screen shot 2017-08-30 at 14 40 55" src="https://user-images.githubusercontent.com/5732209/29870637-4185a43c-8d91-11e7-8950-469fd90207be.png">

[2017-08-30 12:51] SimonLab commented on #165
The PR #174 is now using Channel instead of ajax. This allow us to identify the user clicking on evidences. This allow us then to know if this particular user has already added a note on one of the publication which is shown on the result page, so we can then decide which icon, edit or add, to display on the page

[2017-08-30 13:26] SimonLab commented on #165
Websocket error 103 on Heroku:
![image](https://user-images.githubusercontent.com/6057298/29874616-3f1030b6-8d8f-11e7-9b22-f3e13d153c1e.png)

[2017-08-30 14:08] SimonLab commented on #165
![image](https://user-images.githubusercontent.com/6057298/29876553-0c28eb74-8d95-11e7-99bf-6c5e640171b2.png)

[2017-08-30 15:10] SimonLab commented on #175
@joseempa this should be resolved now. Let us know if you still have this issue, thanks

[2017-08-30 15:19] ajburls commented on #85
@SimonLab This is working now. Thanks.

I see that magnifying glass removed and button now a "search" button. (I am assuming that the bottom menu bar will be implemented soon allowing one to return to search screen directly, so absence of "done" button just a temporary hitch).

One thing: When I looked at this on my mobile the box for the search terms was quite small so only a couple of search ter

[2017-08-30 15:28] ajburls commented on #175
@joseempa Thanks @SimonLab this now working properly again, so closed on Jose's behalf.

[2017-08-30 15:28] #175 closed

[2017-08-30 15:37] ajburls commented on #94
@Cleop This is looking good on both phones. Thanks

[2017-08-30 15:37] #94 closed

[2017-08-30 15:49] ajburls commented on #20
@markwilliamfirth Mark I am not sure how this issue relates to #146 which is in Sprint 3. Wasn't this a way of doing what is talked about here?

[2017-08-30 16:15] Cleop commented on #85
@ajburls - I've just made the change and will add the please-test label once it is merged in.

[2017-08-31 09:17] markwilliamfirth commented on #26
@ajburls thank you for moving this one in to sprint 3, in order to time estimate this we need to clarify the requirements for this issue. Are these the updated requirements?

- [ ] Tracking which papers the user clicked through to from a search
- [ ] The total number of papers they clicked through to per individual search

[2017-08-31 09:20] markwilliamfirth commented on #20
@ajburls issue 146 is implementation of access to an online database that will allow you to query the database - this is the last bullet point in the above comment (https://github.com/dwyl/best-evidence/issues/20#issuecomment-322217150) and was confirmed to be the most important functionality to be completed this sprint. Can you confirm this?

This issue also links to #26 (analytics)

[2017-08-31 09:22] markwilliamfirth commented on #146
From @ajburls via email:

Amanda has expressed a preference for Redash due to it being free, providing the functionality is sufficient compared with eSQL

[2017-08-31 09:24] Cleop commented on #26
@markwilliamfirth I think this issue is a bit out of line. I wouldn't gather the metrics outlined here via google analytics, this is the data that we store in our database. I think this has more to do with #146 and admin functionality.

[2017-08-31 09:25] markwilliamfirth commented on #179
@ajburls a note to say that this is not a typical user journey / pattern and that typically users would expect a log out button ( #61 ). We would advise this as a more common solution to solve the problem. As we understand privacy of notes is an important issue here and so we would advise to complete issue 61 over this one. Please let us know how you'd like to proceed

[2017-08-31 09:32] markwilliamfirth commented on #26
@Cleop yes GA might not be the solution here - however we still need to clarify the requirements and can then change the solution accordingly

[2017-08-31 10:01] #155 closed

[2017-08-31 10:08] markwilliamfirth commented on #88
@ajburls we think this issue is due to merging pull requests to the staging app. We merge at least one PR per day, which resets the cookies, which consequently requires users to log in again.

A way to double check if this is what is causing this bug is for us to deploy on the production app and to ask you to login there and test if it is still an issue. We don't deploy on production at the moment

[2017-08-31 10:44] markwilliamfirth commented on #162
@ajburls Simon's currently working on 165 - I didn't realise 162 wasn't in sprint 3 when it was mentioned earlier - can you confirm if this is something you'd want in sprint 3 and the priority for it? I can see you've put it 7th in the list in the sprint planning milestone - is that correct?

[2017-08-31 10:57] ajburls commented on #179
@markwilliamfirth I would prefer log out but was trying to find faster solutions to ensure that everything needed was in place by end of Sprint 3. So if there isn't a big differential in time, let's do that. (Currently remembering of login not working anyway so at moment just an academic question.)

[2017-08-31 11:14] Cleop commented on #97
Outstanding asset for triangular ! icon, will chase @harrygfox

[2017-08-31 11:20] ajburls commented on #26
@markwilliamfirth @Cleop @SimonLab

It could well be that I am muddling things up as there definitely seem to be several different but interrelated issues. For example in Admin Functionality #20 I wrote that for us to evaluate the MVP and be able to give figures to funders, the adminstrator needs to be able to find out:

-  content of searches (linking these to individual users)
-  date of searche

[2017-08-31 11:24] ajburls commented on #88
Yes. I think we will want to wipe the database at the end of Sprint 3 anyway as Jose and I and others are adding nonsense anyway to test things.

[2017-08-31 11:32] ajburls commented on #162
@markwilliamfirth I think the basic issue of Linking notes from same searches or same paper has been done as my test above confirmed. @SimonLab can you confirm that there is nothing more needed to be done on this and close issue if so?

I will open a separate new issue for the more complex dating of searches which is not a high priority for the moment.

[2017-08-31 12:43] ajburls commented on #20
@markwilliamfirth Yes, confirmed.

[2017-08-31 13:22] ajburls commented on #125
@SimonLab @Cleop Thanks - this looks good and is working.

[2017-08-31 13:22] #125 closed

[2017-08-31 14:21] ajburls opened #183 "Optimising the information (e.g. dates) about searches and notes to enable them to be more useful"
As a user of this app, the note function will be critically important to me for my CPD
As an owner of this app, enabling people to keep a good CPD record will be very important for monetizing the app through printed CPD reports.

The requirements for both these processes overlap. Some of the elements are covered in #176 (tagging notes) and #173 (Starring priority references), however other element

[2017-08-31 14:24] ajburls commented on #21
This is also dependent on completion of #140

[2017-09-01 03:59] markwilliamfirth commented on #30
@ajburls this has now been completed: http://www.bestevidence.info/

[2017-09-01 04:12] markwilliamfirth commented on #88
Next steps:

- [ ] @SimonLab to push app to production site

- [ ] @ajburls to log into production app and check if log in issue persists

[2017-09-01 04:24] markwilliamfirth commented on #97
@Cleop temporary low quality version:

![temp](https://user-images.githubusercontent.com/5732209/29955191-a510fa5a-8ee6-11e7-8981-ccc4e5fe78ff.png)

[2017-09-01 04:32] markwilliamfirth commented on #179
@ajburls I imagine this might take at least the same time, if not more to implement it. So with this in mind we'll proceed with #61

Is the functionality described here still desired for a later sprint or is the requirement in #61 satisfactory? If the former we'll keep this issue open and please reassign a priority label, if the latter we'll close it.

Linked requirement from 61 mentioned above:

[2017-09-01 04:33] markwilliamfirth commented on #61
@ajburls has confirmed to proceed with this

[2017-09-01 05:05] ajburls commented on #97
Not sure state/meaning of last few comments but did notice last image not triangle. This is shape wanted although this is image not an icon but it shows what i meant Warning sign https://g.co/kgs/v3Fwa8

[2017-09-01 05:08] ajburls commented on #179
#61 enough

[2017-09-01 05:12] ajburls commented on #88
@markwilliamfirth is production app now going to be via bestevidence.info?

[2017-09-01 05:36] ajburls opened #186 "New bottom menu bar obscures save button on notes"
Can no longer save a note without closing keyboard on notes page since implementation of menu at bottom of screen
<img src="https://user-images.githubusercontent.com/30235568/29956599-06908dba-8ee0-11e7-8342-fd4bcd0ca125.png" width=200px />

- [x] Remove extra line of text at the top 'Create Note' etc.
This alone is unlikely to be enough space created.
- [x] Hide the bottom navbar at this height
-

[2017-09-01 05:37] ajburls commented on #186
![screenshot_20170901-062551](https://user-images.githubusercontent.com/30235568/29956599-06908dba-8ee0-11e7-8342-fd4bcd0ca125.png)

[2017-09-01 08:02] markwilliamfirth commented on #186
@ajburls we could resolve this by making the notes box smaller - would you be happy with this?

[2017-09-01 08:05] markwilliamfirth commented on #88
@ajburls yes http://bestevidence.info/ links to http://best-evidence-app.herokuapp.com/

Both links will continue to work - both are the same app - the production app.

You can continue to access staging via https://best-evidence-staging.herokuapp.com/

Linked to #30

[2017-09-01 08:06] markwilliamfirth commented on #179
Closed as no longer required

[2017-09-01 08:06] #179 closed

[2017-09-01 08:14] markwilliamfirth commented on #97
![warning-pink](https://user-images.githubusercontent.com/5732209/29961025-5130ab5c-8efe-11e7-9c02-a4c8926defbb.png)
![warning](https://user-images.githubusercontent.com/5732209/29961026-514729cc-8efe-11e7-88f0-e26746496a68.png)

@ajburls do you mean like one of these? Do you have a preference for colour?

[2017-09-01 08:15] ajburls commented on #186
Yes this would be ok but i think it would be better to remove dead space at top by, for example having it titled: New note for search: [search terms]

This would get rid of need for line with word "search"

Or if new red warning, which is scheduled to be moved above box,  were to fit on line after "make a note"

[2017-09-01 08:17] ajburls commented on #97
I think keep it in same colour (red) as warning text to keep it unfussy

[2017-09-01 08:21] SimonLab commented on #162
@ajburls having a unique note for the same publications is done, however I still need to implement unique for same searches, this depend on #165 as I need to link the information of the user to the search when a user scroll the page.

[2017-09-01 08:23] SimonLab commented on #88
@markwilliamfirth @ajburls I will deploy the application to production soon, I just want to finish #165 and #162 first

[2017-09-01 08:31] SimonLab commented on #186
We might have a look also on how to fix the footer navigation bar like this the keyboard might avoid bringing up the navigation which will let show the save button without having to reduce the other element

[2017-09-01 08:39] Cleop commented on #97
<img src="https://user-images.githubusercontent.com/16775804/29961942-25e9bfb0-8ef9-11e7-8687-815c0d499051.png" width=260px />
An inverted color version.

[2017-09-01 08:46] ajburls commented on #186
@SimonLab  I don't know exactly what "this" is but this sounds like a good solution

[2017-09-01 08:54] ajburls commented on #97
@Cleop This is a good point and what you have done looks good (I would put it in City red as @markwilliamfirth suggested for aesthetics. Also, it would be nice if we could get text onto a single line. Would "Do NOT breach patient confidentiality" be better?

[2017-09-01 08:55] ajburls commented on #162
@SimonLab ok

[2017-09-01 09:19] markwilliamfirth opened #187 "Bug: Internal Server Error Related to Note Text Limit"
This issue relates to the bug that Amanda mentioned in the stand up today

An internal server error occurs when a user tries to save a note with a lot of text

Currently unknown what the cause is, however this may be related to a text limit on the database

[2017-09-01 09:30] ajburls opened #188 "Hover over description of hierarchy pyramid with description"
As a learner of EBP or novice user of the BE app, I would like to be able to see a description of the level of evidence when I put the cursor over a pyramid.

[2017-09-01 09:41] ajburls commented on #31
User feedback on app has give the suggestion that when we get to doing a more structured note for the app a useful field would be a short free-text box summarising bottom line e.g.

**Implication for practice:**

[2017-09-01 09:52] SimonLab commented on #187
Linked to the type of the column. Need to check how to define a type text with Ecto
![image](https://user-images.githubusercontent.com/6057298/29964898-8c54cd1c-8f03-11e7-9908-24862f1eef1e.png)

[2017-09-01 10:41] SimonLab commented on #162
@ajburls is this issue still a priority 3? We talk in our standup that you would like the same note to be liked for the same searches done on the sprint 3. I will help us to know how important this is so we can focus on the right issues, could you update the priority label if necessary, thanks

[2017-09-01 10:58] Cleop commented on #24
@markwilliamfirth - the settings page has now been created, can this issue be closed? #126 and #130 are in sprint 3 but #127 #128 and #129 are not. If this issue is meant to be an epic for all of these issues it should be moved out of this sprint because those issues are not scheduled to be completed in this sprint.

[2017-09-01 11:14] SimonLab commented on #187
@ajburls This should be fixed now. Could you try to create a note with a long description, if everything is ok you can then close this issue, thanks

[2017-09-01 11:25] ajburls commented on #187
@SimonLab Looks good. Thanks.

[2017-09-01 11:25] #187 closed

[2017-09-01 11:34] ajburls commented on #162
I think that having one set of notes per unique search, even if that search is repeated is a priority 3, if that is what you are asking for clarification on @SimonLab . This doesn't require resolution of the date issue does it? Or were you asking about something else?

[2017-09-01 11:53] SimonLab commented on #162
Thanks for the priority confirmation.
To clarify what I understand for the "same search note" feature:
We can detect if a search is the same just by comparing the term (case insensitive). If the search is the same we will then link the note. On the history page we could at this stage only show one time the search term (instead of multiple same ones) and we can order the searche terms by the last d

[2017-09-01 12:49] ajburls commented on #162
@SimonLab this makes perfect sense. I think this will be an adequate compromise for the MVP version of the app.

[2017-09-01 13:18] SimonLab commented on #165
@ajburls on this issue I resolve the display of the icons (add or edit) on the search page (issue also described in #162). Could you test it on your side and let us know if everything is working properly? if yes you can then close this issue.
Thanks

[2017-09-01 13:27] ajburls commented on #165
@SimonLab Simon, I don't think is quite working properly. I did a search and then when the search results showed, I wrote a note on the first paper, but the note showed up as a note about the search not about the paper on the notes page (but correctly on the history page. Not sure if this is something to resolve here or will naturally be resolved when the problem about the notes page only showing

[2017-09-01 13:39] SimonLab commented on #165
It's true it can be confusing if a note already exists on a search term. If you do a new fresh search and add a note an a publication you should see the edit icon on the publication and the add icon on the search on the history page.
Agree that when the same search terms will be linked (issue #162 ) it will be more obvious that a note has been added to an evidence/publication.
I think this issue c

[2017-09-01 13:59] ajburls commented on #165
@SimonLab Nice job. Thanks!

[2017-09-01 13:59] #165 closed

[2017-09-01 14:51] ajburls opened #191 "Drop down menu for type of study returning internal server error"
Drop down menu for type of study returning internal server error so can't select by study type

[2017-09-01 15:04] SimonLab commented on #191
It might be the same issue spotted by @joseempa #175  , I will check that the fix hasn't been removed. Thanks for spotting that @ajburls

[2017-09-01 15:52] ajburls commented on #85
@Cleop This looks good on the android phone (although it is quite hard to see magnifying glass perhaps a darker background for icon rather than grey would be better). Also, there is room for the search box to be wider and this would be better if this fairly straightforward to do.
![image](https://user-images.githubusercontent.com/30235568/29977336-f591f3aa-8f34-11e7-857b-1521ea8a47e2.png)

However

[2017-09-01 15:55] ajburls commented on #85
The search box could also be bigger on the desktop view.

The words search terms and search could be similarly replaced with the magnifying glass

![image](https://user-images.githubusercontent.com/30235568/29977739-58ad256c-8f36-11e7-99cc-234d26592ea2.png)

[2017-09-01 16:09] markwilliamfirth commented on #24
@Cleop yes this can be closed - this issue is just for the creation of the page

[2017-09-01 16:09] #24 closed

[2017-09-01 17:29] markwilliamfirth opened #193 "Site needs to be Secure"
As a product owner
I would like my site to be sufficiently secure
So that data cannot be obtained by attackers

I propose that we use SSL via https://letsencrypt.org/about/

https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-step-setup-instructions.md

Waiting on confirmation by @ajburls for security requirements for the application - once you have these Amanda, please update

[2017-09-01 17:41] markwilliamfirth commented on #146
@ajburls i think we should move this one up in priority so that we do it sooner and so you have time to test out the solution prior to the end of the sprint in case we need to make changes - what do you think?

[2017-09-01 17:43] markwilliamfirth commented on #162
@SimonLab do we need to create a new issue for this one?

[2017-09-01 17:48] markwilliamfirth commented on #20
Closing this issue in favour of:

https://github.com/dwyl/best-evidence/issues/26#issuecomment-326266156
https://github.com/dwyl/best-evidence/issues/146

[2017-09-01 17:48] #20 closed

[2017-09-01 17:56] markwilliamfirth opened #194 "Analysing the use of the Application"
As a product owner
I would like to be able to analyse the application
So that I can understand user behaviours and evaluate the MVP in order to give figures to funders to further its development

I require the following data and methods of analysis:
- [x] content of searches (linking these to individual users)
- [x] date of searches
- [x] publications clicked on from each search
- [x] notes made a

[2017-09-01 17:57] markwilliamfirth commented on #26
Closed in favour of https://github.com/dwyl/best-evidence/issues/194

[2017-09-01 17:57] #26 closed

[2017-09-01 21:19] ajburls commented on #193
Ok

[2017-09-01 21:21] ajburls commented on #146
Agreed

[2017-09-01 21:22] ajburls commented on #194
Yes, confirmed

[2017-09-02 07:55] markwilliamfirth commented on #30
@ajburls please close this if you are happy that the domain has been connected

[2017-09-02 08:04] SimonLab commented on #22
This will be fixed with #192 :
![image](https://user-images.githubusercontent.com/6057298/29994004-84b0cbbe-8fbd-11e7-99b7-fbb0d0a30244.png)

@ajburls when an evidence has a note but not the search term linked to the evidence the edit pencil icon is not shown near the search term, is this ok?

[2017-09-02 08:19] ajburls commented on #22
Yes. This is good.

Amanda

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Simon <notifications@github.com>
Date: 02/09/2017 09:04 (GMT+00:00)
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: "Burls, Amanda" <Amanda.Burls.1@city.ac.uk>, Mention <mention@noreply.github.com>
Subject: Re: [dwyl/best-evidence] Notes (#22)

This will be fixed with #192<ht

[2017-09-02 08:35] SimonLab commented on #191
As the search controller as changed to include the notes linked to the publication we need to do the same when a filter is applied. This was linked to #165 (not #175)

[2017-09-04 10:50] SimonLab commented on #191
This should be fix now @ajburls , let us know if it works for you, thanks

[2017-09-04 10:52] SimonLab commented on #22
The note page is now ready to be tested @ajburls : the search term and the publications are now displayed on the page.

[2017-09-04 10:53] SimonLab commented on #139
The tests have been added with #192

[2017-09-04 10:53] #139 closed

[2017-09-04 11:31] Cleop commented on #186
I've made the following changes so far:
- Remove extra line of text at the top 'Create Note' etc.
- Hide the bottom navbar when keyboard is up
- Put the search term inline with the 'search term:' words

I've tested this using my iPhone 5 and Simon's android phone and it works. You do have to scroll from the top of the page but you can see the 'save note' button from the top of the text box when yo

[2017-09-04 11:36] SimonLab commented on #162
@ajburls This is now ready to be tested (link same searches). Unfortunately I had to reset the database to get the last structure for the data so you will have to create a new account again.

[2017-09-04 11:47] ajburls commented on #191
Working again. Thanks.

[2017-09-04 11:47] #191 closed

[2017-09-04 11:58] ajburls commented on #22
No, this is not working for me. Only notes on search showing on notes page. I tried deleting the saved on home screen button and going via website to see if this was the issue but it wasn't. However, now app appears as a webpage not as an app as before. Also it no longer recognised me and I had to create new account.I used my previous email address and password and it let me create an identical ne

[2017-09-04 12:01] SimonLab opened #197 "Change icons - add, edit, complete"
The icons have been changed on the history page to represent if a note is complete or not:
![image](https://user-images.githubusercontent.com/6057298/30025555-f7bc9688-9170-11e7-824e-9226b7704840.png)

We now need to change the icons on the search, note and result page.

[2017-09-04 12:02] ajburls commented on #61
Working. Thanks.

[2017-09-04 12:02] #61 closed

[2017-09-04 12:13] ajburls commented on #162
I note history reset.that answers my previous comment. Can't test this because trying to run some search again to have two searches for testing returned internal server error

Sent from my Samsung Galaxy smartphone.
-------- Original message --------
From: Simon <notifications@github.com>
Date: 04/09/2017 13:36 (GMT+01:00)
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: "Burls, Amand

[2017-09-04 15:04] Cleop commented on #146
@ajburls @markwilliamfirth - ElephantSQL and Redash are somewhat different from a technical perspective. Both do have free offerings but both of those free offerings have limitations.

From a technical perspective Redash is currently more appropriate for our needs. It gives us access to our live database. In comparison, ElephantSQL is a hosting service (our site is already hosted and therefore thi

[2017-09-04 15:35] SimonLab commented on #22
Thanks for testing @ajburls , I think you saw that I reset the database and that's why you had to create an account. You might need to create a new one again as I wanted to be sure that the database was clean so I reset it again. Could you please try again to see if the notes for the publications are displayed, this should be ok now. Thanks

[2017-09-04 15:36] SimonLab commented on #197
The icons should be the correct ones on all the pages now. @ajburls this is ready to be tested, thanks.

[2017-09-04 15:38] SimonLab commented on #162
Thanks for testing this. Could you try again, you might need to logout and to be sure you create a new account or login with a new one as I reseted the database. Let me know if you still have the server error, thanks

[2017-09-04 15:40] SimonLab commented on #100
@ajburls could you try on your android and iphone, I think @Cleop has updated this issue. Let us know if you still can't see the right icon when you add the application on your homescreen, thanks

[2017-09-04 15:47] ajburls commented on #162
@SimonLab Managed to get my computer working. Tested on computer and there is a single note for each paper. Latest search goes to the top as we agreed. Great :-)

I note that notes on papers, because they are linked to the search, also move up the order list (currently only saying today) , presumably if I run the same search tomorrow, notes on a paper made today will appear as if there were made t

[2017-09-04 15:48] ajburls commented on #197
@SimonLab Looks good. Thanks

[2017-09-04 15:48] #197 closed

[2017-09-04 15:54] ajburls commented on #30
@markwilliamfirth Mark, I didn't close this because I was unsure about the issue of security. Will this be as secure as an Https domain as it links to the https domain. It needs to be. I know we have another issue about what final standards we need and I am awaiting advice from within City but it would be good to be reassured that it has this minimum level

[2017-09-04 15:55] ajburls commented on #147
I have seen this at bottom of notes field. Thanks @Cleop

[2017-09-04 15:55] #147 closed

[2017-09-04 16:16] ajburls commented on #100
No icon on Android. Moreover, Android now not looking like an app as it did before (much nicer) but looking like a webpage with wasted space at top with address field  etc. (No logo when save on to home page or in address.)

[2017-09-04 16:21] ajburls commented on #100
tested in Chrome and Dolphin in case it made a difference. Would be better to revert to previous version if this can't be solved as preferable to have it look like an app.

[2017-09-04 16:22] ajburls commented on #97
@Cleop This looks fine

[2017-09-04 16:22] #97 closed

[2017-09-04 16:22] ajburls commented on #122
@Cleop This works. Thanks

[2017-09-04 16:22] #122 closed

[2017-09-04 16:34] ajburls commented on #85
@Cleop  the magnifying glasses now showing clearly with red background. And both on same line as search box. Thanks

[2017-09-04 16:34] #85 closed

[2017-09-04 16:35] markwilliamfirth commented on #30
@ajburls this issue is just for connecting the domain and application. The security issue will be dealt with here: #193

[2017-09-04 16:37] ajburls commented on #186
@cleop I can now save notes by scrolling to save on both my android and iphone without closing keyboard.

[2017-09-04 16:37] #186 closed

[2017-09-04 16:41] ajburls commented on #22
@SimonLab Notes page now showing notes for both search and paper. The completed and open notes icons also showing.

Need to link to search and paper as they do in the history, otherwise you can't tell what they are about. Should I close this issue  or will this linking be done as part of this issue?

[2017-09-04 16:49] ajburls commented on #30
@markwilliamfirth Thanks

[2017-09-04 16:49] #30 closed

[2017-09-05 09:40] markwilliamfirth commented on #146
I just spoke to @arikfr (Arik) from Redash - he saw our issue pop up on Redash's mentions and wants to offer us a free account (providing we have reasonable usage) - he's going to comment here 😄

[2017-09-05 09:42] arikfr commented on #146
Hi everyone 👋

As @markwilliamfirth mentioned already, I will be happy to provide you with a free account.

Keep up the good work 👍

[2017-09-05 09:44] markwilliamfirth commented on #146
@Cleop once you make the account just ping @arikfr and he can make it free :)

(maybe make it with the best evidence gmail account? Whatever works best!)

[2017-09-05 09:56] SimonLab commented on #193
@markwilliamfirth I've configure the application to automatically redirect to https. Could you try on your side and see if it's working, thanks

[2017-09-05 10:19] markwilliamfirth commented on #193
<img width="393" alt="screen shot 2017-09-05 at 12 18 32" src="https://user-images.githubusercontent.com/5732209/30056783-5ca315d6-9234-11e7-8333-edff27c9a185.png">
<img width="1246" alt="screen shot 2017-09-05 at 12 18 25" src="https://user-images.githubusercontent.com/5732209/30056784-5cbf13f8-9234-11e7-92c1-7925929180f2.png">

@SimonLab it still shows as this^

[2017-09-05 10:27] SimonLab commented on #162
Just to recap:
My understanding is that duplicate searches should be avoid on the history page, see the following comments:
- https://github.com/dwyl/best-evidence/issues/162#issuecomment-326561465
- https://github.com/dwyl/best-evidence/issues/22#issuecomment-323777869

So at the moment the search terms are ordered by the most recent term searched. The publications for a search are still linked t

[2017-09-05 10:27] ajburls commented on #146
This is great news. Thanks to everyone for this 😊

[2017-09-05 10:30] SimonLab commented on #193
I think on the other url (the staging one) the application is automatically redirected to https. So it might be an issue linked to the configuration of the domain name?

[2017-09-05 11:01] markwilliamfirth commented on #22
@ajburls this has been merged in - please close if it is now satisfactory

[2017-09-05 11:11] markwilliamfirth commented on #100
@ajburls as a follow up to our call earlier, please retest this by following these steps:

1. Remove the app from your homescreen
2. Open chrome
3. Click the three vertical dots at the top right to open the menu
4. Select History
5. Clear your history
6. Close Chrome
7. Reopen Chrome
8. Go to Best Evidence app domain
9. Click the three vertical dots at the top right to open the menu
10. Click add

[2017-09-05 11:19] markwilliamfirth opened #204 "Notes to keep the last date they were edited"
Linked to: https://github.com/dwyl/best-evidence/issues/162#issuecomment-326991426

**Requirement:**
- [ ] Notes to keep the last date they were edited

@ajburls can you further clarify this requirement? Where do you want this date displayed?

[2017-09-05 11:36] markwilliamfirth opened #205 "Order of Search History"
Linked to: https://github.com/dwyl/best-evidence/issues/162#issuecomment-327136125

Currently:
- similar search terms group together and therefore group publications from those search terms together
- the most recent search comes first in the list

@ajburls can you confirm this is sufficient or would you like the order to be different?

[2017-09-05 11:39] markwilliamfirth commented on #162
This functionality has been completed; this issue is now closed in favour of:

https://github.com/dwyl/best-evidence/issues/204
https://github.com/dwyl/best-evidence/issues/205

[2017-09-05 11:39] #162 closed

[2017-09-05 11:43] markwilliamfirth commented on #193
@SimonLab now when i go to bestevidence.info it redirects to https://best-evidence-app.herokuapp.com/ but we don't want it to redirect, we want the domain to stay in the search bar - is that still possible?

[2017-09-05 11:47] SimonLab commented on #193
![image](https://user-images.githubusercontent.com/6057298/30059744-4e0f653e-9238-11e7-9aed-ac6b9cd13dfe.png)

I've updated the url in the config. However the https is not find, is this a domain name config problem @markwilliamfirth ?

[2017-09-05 11:49] markwilliamfirth commented on #193
<img width="986" alt="screen shot 2017-09-05 at 13 48 38" src="https://user-images.githubusercontent.com/5732209/30059807-f48f952a-9240-11e7-9c50-f3d7d2d210e3.png">

@SimonLab this is the domain config

I was under the impression https only works for domains with ssl certificates

[2017-09-05 11:55] markwilliamfirth commented on #193
@SimonLab

https://devcenter.heroku.com/articles/ssl-endpoint

[2017-09-05 11:56] SimonLab commented on #193
could you try to update the config to use https in the url? If the url is just a redirection to the heroku app I'm not sure why it couldn't redirect to the https of the heroku application. But I let you check with ssl if you want to try, let me know

[2017-09-05 12:00] markwilliamfirth commented on #193
@SimonLab my understanding is that:

- Heroku links (https://appname.herokuapp.com) are already secure
- Amanda wants a secure custom domain name to link to the app
- The custom domain we have is not currently secure
- In order to make it secure we need an ssl certificate for the custom domain

Is this correct?

@nelsonic @iteles we could benefit from some of your security expertise here if by cha

[2017-09-05 12:09] markwilliamfirth commented on #193
@SimonLab I just added a paid dyno and configured ssl on heroku

this came up:

<img width="588" alt="screen shot 2017-09-05 at 14 08 23" src="https://user-images.githubusercontent.com/5732209/30060484-d6d8053c-9243-11e7-8f9c-d4cb5df750ef.png">

[2017-09-05 12:13] SimonLab commented on #193
@markwilliamfirth I'm not sure about the process to configure ssl with heroku but we should find some info here: https://devcenter.heroku.com/articles/ssl-endpoint . The cutom domain name doesn't yet redirect to the app so it either take a bit of time to reset or we are missing something in the configuration

[2017-09-05 12:27] ajburls commented on #22
😊

[2017-09-05 12:27] #22 closed

[2017-09-05 12:58] ajburls commented on #100
Looks great. I noticed a flash screen just before it opened that said "Best Evidence Practice" -it would be good if that could be changed to just "BestEvidence" (also if spaces can be removed from any other occurrence of best evidence e.g. About Best Evidence. Not critical but probably not very time consuming. Looks really nice now.

[2017-09-05 13:05] ajburls commented on #204
Can't do this on phone but priority three

[2017-09-05 13:07] ajburls commented on #205
This will do. Date note edited by note would be even better even if ranked higher because of more recent search.

[2017-09-05 13:16] Cleop commented on #100
Phew! Glad we've got it working @ajburls

Happy to make the change for the copy, however, please can you open this as a new issue? Then you can close this issue.

[2017-09-05 13:23] markwilliamfirth opened #207 "Copy changes: Removing spaces between Best Evidence"
https://github.com/dwyl/best-evidence/issues/100#issuecomment-327167348

Remove spaces from occurrences of best evidence e.g. About Best Evidence

change to BestEvidence

@ajburls please could you assign a priority label and indicate whether this must be done this sprint?

[2017-09-05 13:23] markwilliamfirth opened #208 "Copy change to custom touch icon flash screen"
https://github.com/dwyl/best-evidence/issues/100#issuecomment-327167348

Change "Best Evidence Practice" to "BestEvidence"

@ajburls please could you assign a priority label and indicate whether this must be done this sprint?

[2017-09-05 13:24] markwilliamfirth commented on #100
Closed in favour of:

https://github.com/dwyl/best-evidence/issues/207
https://github.com/dwyl/best-evidence/issues/208

[2017-09-05 13:24] #100 closed

[2017-09-05 13:30] markwilliamfirth commented on #205
@ajburls do you mean in the notes view or the history view? i.e. ordering the notes by last edited on the notes page or the search history page?

[2017-09-05 14:32] ajburls commented on #207
Priority 4. Would be good to do on this Sprint if poss. As it sets branding for app

[2017-09-05 14:40] SimonLab commented on #207
@ajburls I think it is done now @ajburls , let us know if you still spot some wrong name in the application

[2017-09-05 14:42] SimonLab commented on #18
@ajburls this is ready to be tested. You should see an email icon on the top right of the edit page of notes:

![image](https://user-images.githubusercontent.com/6057298/30066769-cb0e2738-9250-11e7-8a52-f41ff55fffaf.png)

[2017-09-05 16:00] ajburls commented on #208
Good. Thanks

[2017-09-05 16:00] #208 closed

[2017-09-05 16:02] ajburls commented on #207
Looks good. Will close and open new issue if I spot problem

[2017-09-05 16:02] #207 closed

[2017-09-05 16:21] ajburls commented on #18
Yes working fine.

[2017-09-05 16:31] ajburls commented on #18
Can't test on iPhone as out of better but close as working well on android

[2017-09-05 16:31] #18 closed

[2017-09-06 06:11] ajburls opened #211 "Bug: '+ button' on search results page won't produce note on iPhone (Safari + Chrome)"
On **iPhone** '+' button won't allow a publication note to be made from search results page on safari or chrome.

- Works fine on **Android**, a note icon does open note.
- Works fine on **desktop** on safari and chrome

[2017-09-06 06:18] ajburls commented on #211
That was supposed to be titled
"Bug on iPhone search results page"

[2017-09-06 06:34] ajburls opened #212 "Bug on notes page"
Notes page: some searches don't have '+' button to write note
'+' button works fine on history page.

[2017-09-06 06:43] ajburls commented on #212
![Uploading IMG_0621.PNG…]()

[2017-09-06 07:00] SimonLab commented on #211
@ajburls this issue might be caused by an old cached version on your iphone. Could you logout and login again to check if the issue is still here, thanks

[2017-09-06 07:26] ajburls commented on #211
@SimonLab I logged out and logged in again but problem still there. Remind me how to clear cache on an iphone and I will try that.

[2017-09-06 07:31] ajburls commented on #211
@SimonLab also switched off phone and switched back on - not cured.

[2017-09-06 07:33] ajburls commented on #211
@SimonLab I also tried clearing all website data and history from Safari - not cured

[2017-09-06 07:40] markwilliamfirth commented on #193
@SimonLab site still appears as insecure

[2017-09-06 07:43] markwilliamfirth commented on #88
@SimonLab has the app been deployed to production now?

[2017-09-06 08:55] Cleop commented on #146
Hey @arikfr! Thank you so much for your kind offer. I've set up an account for us at: best.evidence.dev@gmail.com - please can you set us up on a plan so we can continue using it after the 30 day trial?

[2017-09-06 09:49] SimonLab commented on #212
@ajburls just to confirm, I think this issue only appears on iphone, it this the case or do you have it also on desktop and android?

[2017-09-06 10:28] iteles commented on #193
@markwilliamfirth That's correct, if we want `https` on a custom domain, we'll need an SSL certificate configured for it.

@SimonLab Have you looked at elements.heroku.com/addons/expeditedssl ?
Two options here:
+ Use letsencrypt as  per the description of this issue (I can see this hasn't been done yet because your settings dash doesn't match https://github.com/dwyl/learn-heroku/blob/master/SSL-c

[2017-09-06 12:35] Cleop commented on #194
I've been implementing the queries above on Redash. So that we comply with the privacy code for the app, we will set @ajburls up with a Redash account that is read-only. This way there is no danger that @ajburls can access people's email addresses and also that you can inadvertently alter the live db.

The drawback to this implementation is that it means that @ajburls cannot write her own queries,

[2017-09-06 13:09] SimonLab commented on #212
@ajburls I don't think this is a bug, maybe a misunderstanding.
On the note page we only display:
- the search terms where a note has been created and linked to it
- the publications/evidences where a note has been created

The difficulty is to find a way to show the publications/evidences with notes where the search term used for these publications doesn't have a note yet, see my previous questio

[2017-09-06 17:09] ajburls commented on #212
Only iphone

From: Simon [mailto:notifications@github.com]
Sent: 06 September 2017 10:49
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: Burls, Amanda <Amanda.Burls.1@city.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [dwyl/best-evidence] Bug on notes page (#212)

@ajburls<https://github.com/ajburls> just to confirm, I think this issue only appears on iphone, it this the

[2017-09-07 07:26] SimonLab commented on #193
@markwilliamfirth could you test again to access the production website, I think this should be resolved now

[2017-09-07 07:54] markwilliamfirth commented on #193
<img width="633" alt="screen shot 2017-09-07 at 08 53 39" src="https://user-images.githubusercontent.com/5732209/30152143-17866620-93aa-11e7-8e1f-6a3e555057d3.png">

[2017-09-07 08:21] markwilliamfirth opened #214 "Bug: Internal Server Error clicking on blank note from Recent Searches"
<img width="753" alt="screen shot 2017-09-07 at 09 19 15" src="https://user-images.githubusercontent.com/5732209/30153197-b275b3cc-93ad-11e7-83bd-02247a6f0871.png">

Internal server error appears when I click on a blank saved note next to a recent search on the main page

[2017-09-07 08:28] markwilliamfirth opened #215 "Bug: Duplicate search original date being used"
Duplicate search showing on date first searched as opposed to updated search date

e.g. dengue fever was searched yesterday and again today, but still shows as yesterday

<img width="576" alt="screen shot 2017-09-07 at 09 28 02" src="https://user-images.githubusercontent.com/5732209/30153525-de775d6c-93ae-11e7-87f7-10e619107a69.png">

@SimonLab mentioned that this may be that the field currently l

[2017-09-07 08:46] SimonLab commented on #193
It's working on my side:
![image](https://user-images.githubusercontent.com/6057298/30154283-58c9f74e-93b1-11e7-81b0-e2471ce61580.png)

could you try to refresh the page and to make sure you don't use any cached version, maybe try on incognito mode

[2017-09-07 08:47] markwilliamfirth commented on #193
Still doesn't work for me - on Chrome incognito or Safari (no history on safari)

[2017-09-07 08:48] ajburls commented on #193
Nor me on Android, iPhone or computer

[2017-09-07 08:49] markwilliamfirth commented on #130
@SimonLab to add "special" user type and change "Lay" to lowercase

[2017-09-07 08:54] markwilliamfirth commented on #212
@ajburls just wanted to check you've seen Simon's comment? https://github.com/dwyl/best-evidence/issues/212#issuecomment-327477829

[2017-09-07 08:55] SimonLab commented on #193
I thinks it's working if you try with the www: ```www.bestevidence.info```
@markwilliamfirth you have define the configuration like this on Heroku:
![image](https://user-images.githubusercontent.com/6057298/30154673-8b2264be-93b2-11e7-9353-df6fc2fea94c.png)
You could try to remove the ```www``` and test that on the dns config

[2017-09-07 08:59] ajburls commented on #212
Yes, all looking good.

[2017-09-07 08:59] #212 closed

[2017-09-07 09:01] ajburls commented on #193
No, this redirects to https://bestevidence.info and is still not working

[2017-09-07 09:02] markwilliamfirth commented on #193
@SimonLab yes this works: https://www.bestevidence.info/

Good spot - there is no root domain on Heroku (https://github.com/dwyl/dwyl-site/issues/210#issuecomment-304054487)

@ajburls please try: https://www.bestevidence.info/

If it redirects due to history, please edit in the URL bar and enter again

[2017-09-07 09:07] markwilliamfirth commented on #211
@SimonLab @Cleop I don't have an iPhone - does one of you have one? Is the issue reproducible?

[2017-09-07 09:25] markwilliamfirth opened #216 "Open Source License"
@ajburls it might be worth talking with your various stakeholders at City to understand what type of Open Source license you want to apply to the app - which would you prefer?

https://opensource.org/licenses
https://choosealicense.com/

If you want, we could recommend one

[2017-09-07 12:45] ajburls commented on #216
I have asked Yinka but please do recommend.

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Mark William Firth <notifications@github.com>
Date: 07/09/2017 11:25 (GMT+01:00)
To: dwyl/best-evidence <best-evidence@noreply.github.com>
Cc: "Burls, Amanda" <Amanda.Burls.1@city.ac.uk>, Assign <assign@noreply.github.com>
Subject: [dwyl/best-evidence] Open Source License

[2017-09-07 13:49] iteles commented on #193
@markwilliamfirth A note that github just erased the `www` from your URL.

To be clear `https://www.bestevidence.info` functions as expected.

`https://bestevidence.info` does not exist.

[2017-09-07 17:04] SimonLab commented on #214
Error:
![image](https://user-images.githubusercontent.com/6057298/30175431-684697e6-93f6-11e7-9c44-556ca2c06888.png)

This is cause by the call of the function ```URI.encode``` on the note. The note is currently empty (value nil)
https://github.com/dwyl/best-evidence/blob/458a2ed2b23427fb5297841b329f0261a4c764d4/web/controllers/note_search_controller.ex#L23

![image](https://user-images.githubuser

[2017-09-07 19:57] SimonLab commented on #211
I suspect ```window.location.replace``` to not work properly on ios with safari even if it looks ok: (https://developer.mozilla.org/en-US/docs/Web/API/Location/replace)
![image](https://user-images.githubusercontent.com/6057298/30182515-fb637252-940e-11e7-8490-32dd86dcb5ad.png)

I'll try this and see if I can test it tomorrow on an iphone

[2017-09-07 20:46] ajburls commented on #193
Ok. This working on Android. I have no battery life left in iPhone. I will close this now on assumption it will work. Thanks

[2017-09-07 20:46] ajburls commented on #193
Ok. This working on Android. I have no battery life left in iPhone. I will close this now on assumption it will work. Thanks

[2017-09-07 20:46] #193 closed

[2017-09-07 20:54] ajburls commented on #126
Working well but still has capital "L" on lay and no "special" or "code" or similar option that I can ask particular people to use

[2017-09-07 20:55] ajburls commented on #130
Works well. Thanks

[2017-09-07 20:55] #130 closed

[2017-09-07 21:09] ajburls opened #221 "Bug: publications duplicating"
Not sure if this is an app issue or a trip big with two unique identifiers for same resource.
![screenshot_20170907-230418](https://user-images.githubusercontent.com/30235568/30185401-84844086-9421-11e7-8f39-532523097030.png)

[2017-09-08 07:41] SimonLab commented on #221
@ajburls do the notes linked to the publications are the same for the duplicates?

[2017-09-08 07:49] ajburls commented on #221
@SimonLab yes

[2017-09-08 08:07] SimonLab commented on #221
Thanks for confirming this. I think this might be caused when a user clicked multiple time on the same evidence link on a same search. I've added some constraint to avoid saving the same evidence link for a same search, so it should resolve this issue.

[2017-09-08 10:45] markwilliamfirth opened #223 "Paying for the app"
from @ajburls via email:

A. In app payments or
B. Have people pay for a premium version of an app
when it is a web-based app rather than an app one gets from Apple store or Google play.
Can you advise? Or point me in the direction of an article somewhere?

[2017-09-08 10:46] markwilliamfirth commented on #223
@ajburls this is possible with a web app too. The difference is that the apple store / google play already have payment information. So with a web app the user will either need to submit their payment information or the app will need to be linked up to a payment solution service like paypal / stripe. Lots of web apps accept payments - most commonly in the form of monthly subscriptions after a free

[2017-09-08 11:40] ajburls commented on #216
I append here Yinka's reply:

Dear All,
My understanding is that we do not want to restrict user access.
My understanding of open source (excuse my ignorance) is that others would have access to the source code or elements of it so that they can build on it.

In my opinion having it open source is not the same as having unrestricted access of the users and I think it is counterproductive for susta

[2017-09-08 11:43] ajburls commented on #216
My own view is different - my natural inclination is for maximum openess and sharing, we will discuss internally.

[2017-09-08 13:22] SimonLab commented on #211
@ajburls could you try again this issue, I've also reset the database to make sure we have the last version of the application, thanks

[2017-09-08 18:09] ajburls commented on #214
I am not getting this error now.Thanks.

[2017-09-08 18:09] #214 closed

[2017-09-09 07:24] ajburls commented on #215
Just checked. Appears to be ok.

[2017-09-09 07:24] #215 closed

[2017-09-09 07:25] ajburls commented on #211
Still not working. I deleted cache etc etc first.

[2017-09-11 09:42] SimonLab commented on #211
Thanks for testing @ajburls I manage to find an iphone which make it easier to debug.
The event listner on the "+" button is not trigger this might be caused by a conflict with the other event listner used when users clicked on the evidence links. I will refactor the code now to only use one event listener:
https://github.com/dwyl/best-evidence/blob/3b0ab704a93064e476098219bc7ed9210f97b4c4/web/sta

[2017-09-11 10:22] SimonLab commented on #211
@ajburls could you please test this issue on staging. I think this should be resolved now, thanks.

[2017-09-11 10:24] SimonLab commented on #126
@ajburls the list has now been updated, let us know if everything is working well :+1:

[2017-09-15 09:48] markwilliamfirth commented on #221
@ajburls please can you test and close this issue if you are happy?

[2017-09-15 09:48] markwilliamfirth commented on #211
@ajburls please can you test and close this issue if you are happy?

[2017-09-15 09:48] markwilliamfirth commented on #126
@ajburls please can you test and close this issue if you are happy?

[2017-09-19 14:40] ajburls commented on #221
Problem still happening on Android - just tested now using "staging" link

[2017-09-19 14:49] ajburls commented on #221
Further information on this bug - I am adding a note using android by clicking on a paper from a search. It then appears duplicated in notes (i.e. not that there are two notes but a single note appears twice. Picture from today 19th Sept.
![duplication bug](https://user-images.githubusercontent.com/30235568/30598592-0bc469a2-9d52-11e7-9f1d-955a906086b1.jpg)

[2017-09-19 14:54] ajburls commented on #221
I can't test this error on the iPhone as the bug that prevents notes being added from a search is still there.

[2017-09-19 14:57] ajburls commented on #211
@markwilliamfirth This problem still exists on  the iPhone and prevents notes being added from a search. However, I wonder whether there may be a cookie problem as when I log in with the same ID and password as on the Android I get different results (however the results I get are the same results as on the tablet). Please advise. If I need to uninstall and remove cache should this be on android or

[2017-09-19 15:02] ajburls commented on #126
@markwilliamfirth Working well, thanks

[2017-09-19 15:02] #126 closed

[2017-09-19 15:06] ajburls commented on #88
I think this is now working OK but am only testing on "staging"

[2017-09-19 15:06] #88 closed

[2017-09-19 15:22] ajburls commented on #221
@markwilliamfirth OK I re-set Android phone and now it is producing same results as iPhone and online and there are no duplicates

[2017-09-19 15:22] #221 closed

[2017-09-19 15:23] ajburls commented on #211
@markwilliamfirth @SimonLab this bug now occurring on Android since I have re-set everything (it wasn't beforehand).

[2017-09-19 15:26] ajburls opened #225 "Missing information from searches"
As a user, I want to be able to know more about the research results before I click through to them. It would be much easier to decide what is likely to be useful if the full results information from the TRIP database were shown, that is including the source publication and date

![image](https://user-images.githubusercontent.com/30235568/30600397-3a736776-9d57-11e7-8aef-23e7254570ce.png)

**Requi

[2017-09-19 15:57] markwilliamfirth commented on #211
@ajburls we've just tested again on our side and we think there might still be an issue here

Simon is going to reset the database and to make sure the application is the latest version an then we'll tag you when we think it's working again

[2017-09-19 16:38] ajburls commented on #194
@cleop I can run the queries you have created and these are great. When we spoke at the stand up I thought we agreed you would give me full access rights so I could create new queries (despite the fact that I could if I wanted to see people's IDs). I have tried creating new queries but can't so I think that maybe you didn't do this. Please let me know.

[2017-09-20 09:50] markwilliamfirth commented on #146
Hey @arikfr! Not sure if you saw this - would you be able to upgrade our Redash account?

[2017-09-20 11:04] Cleop commented on #194
@ajburls - you are in the default group which I have set to 'full access' under the permissions. You should have access to everything, I just checked it was the case. I presume you're trying to make a new query by going to:
<img src="https://user-images.githubusercontent.com/16775804/30640669-b533d5be-9dfb-11e7-9583-af78d98237aa.png" width=200px />
It should then show this page:
![image](https://u

[2017-09-20 20:46] ajburls commented on #194
I have now got it working.  Well not exactly working properly but I have been able to start playing.

[2017-09-20 20:46] #194 closed

[2017-09-21 13:58] SimonLab commented on #211
I manage to target the issue on ios. This is due to the fact that by default ios use "touch" event instead of "click" event. An easy solution is to add the style ```cursor: pointer``` to our clickable elements.
https://stackoverflow.com/questions/3705937/document-click-not-working-correctly-on-iphone-jquery

[2017-09-21 14:30] SimonLab commented on #211
@ajburls I think this is fixed now, could you test on your side again? Thanks

[2017-09-21 14:38] ajburls commented on #211
@SimonLab Not totally fixed. It worked for first publication I clicked + for on iPhone and then not for subsequent ones. It would open previously written notes, however.  I went and tried another search and initially it worked then stopped.

[2017-09-21 14:40] SimonLab commented on #211
Sorry I was a bit quick to assign the "please-test" label. I spotted the error too, it should be fix soon (https://github.com/dwyl/best-evidence/pull/228). Thanks again for testing that

[2017-09-21 14:44] ajburls commented on #211
@SimonLab No worries - I am just eager to get the final version onto BestEvidence.Info as I am preparing some notes for the students to whom we are giving the app tomorrow morning and I wanted to record some videos and prepare a leaflet to get them started :-)

[2017-09-21 14:57] SimonLab commented on #211
@ajburls could you please test again? Depending on your internet connection it's possible that the "add note" page take a couple of seconds to load after clicking on the add icon but otherwise it should be ok now.

[2017-09-21 15:02] ajburls commented on #211
@SimonLab This appears to be working well now on iPHone. Will test on other devices. Unfortunately though it seems to have introduced (or perhaps the first time it has occurred?) a bug. If I search on "Arnica Bruise" it gives me an internal server error. This is a search I have done before with no problem. It is letting me do other searches OK.

[2017-09-21 15:04] SimonLab commented on #211
@ajburls I'm going to reset the database if it's ok, I changed the structure so it's possible you had a conflict with your search with the old data.
Is it ok to delete the current data on staging now?

[2017-09-21 15:05] ajburls commented on #211
@SimonLab OK just tested on notebook computer and getting same error

[2017-09-21 15:08] SimonLab commented on #211
@ajburls not sure if you saw my previous comment: https://github.com/dwyl/best-evidence/issues/211#issuecomment-331185218
I just wanted to check with you if it's ok if I reset the database now, it should fix the errors

[2017-09-21 15:09] ajburls commented on #211
@SimonLab PLease do but this may not solve problem as it has just happened with a different search term, which was working when I was testing failure of "arnica bruise" search. I also notice that the search list at the bottom of the search page is not consistently adding the latest search term. I thought this might be because a search was done before but I tested this an error is inconsistent (alt

[2017-09-21 15:19] SimonLab commented on #211
@ajburls I've just reset the database. To be sure that you don't have an old version running could you uninstall and install again the application on your phones? It should automatically be updated on desktop.
You will have to crate an account again. Let me know if you still have the previous error I couldn't reproduce it at this stage but had it a couple of days before when I changed the structur

[2017-09-21 15:35] ajburls commented on #211
@SimonLab @markwilliamfirth I removed cookies from computer and tested it multiple searches and a few repeat searches on the computer and all was well. Then I deleted from iPhone tried on iPhone and all was well. Then the problem occurred again (strangely with "arnica bruise" again which had worked since re-set). Now problem occurs on computer too. I wondered whether I didn't remove all the histor

[2017-09-21 15:39] ajburls commented on #211
@SimonLab @markwilliamfirth You will need to re-set again, even if this was my fault and caused by an old cache, before I try after following whatever instructions you now send. (Because it is web-based it doesn't appear in list of apps like other apps do.)

[2017-09-21 15:50] SimonLab commented on #211
@ajburls I will reset now. It's difficult to debug as I couldn't manage to reproduce the error. Make sure that you are logged out and uninstall the application on all devices before retrying. If the error happen again coulld you send some screenshot and the steps which produced the error. Thanks

[2017-09-21 15:58] SimonLab commented on #211
@ajburls the database is now reset. I'll do more test on my side to try to reproduce your error. Let me know if it is still an issue. It might be also good to test on production maybe it's due to a limitation of service on the stating from Heroku.
Are you happy for me to reset the database and deploy on production?

[2017-09-21 16:20] ajburls commented on #211
OK - I deleted everything from both phones and from computer. I started testing on computer and it caused the problem after about ten or eleven searches. It occurred after I (successfully) searched for a term that I had previously searched for and which was no longer appearing in the list below the search box. When I went back to search from the results, I clicked on the top search showing and got

[2017-09-21 16:28] ajburls commented on #211
@markwilliamfirth Please do re-set database and also deploy on production (although it would be good if you could re-set the production database tomorrow morning also, so that my testing searches are removed and we can have a clean dataset from the students we will be giving it to.)

[2017-09-21 16:37] SimonLab opened #229 "duplicate searches in database"
![image](https://user-images.githubusercontent.com/6057298/30707284-ee8bf66e-9ef2-11e7-88e2-08c2d8e47ba3.png)

The database manage to insert a duplicate search for the same user (search "burls", id 3). This should be allow as we have unique constraint on the database.
This looks like a race race condition (multipe items are inserted at the same time) however we can see that there is 2mn laps betwe

[2017-09-21 16:39] SimonLab commented on #211
@ajburls I manage to see why the error occurs. I've created a new issue for that https://github.com/dwyl/best-evidence/issues/229. I think this one can be tested again after if needed but I don't think the current bug should be related to this issue anymore

I will let you know when I have reset the database :+1:

[2017-09-21 16:50] SimonLab commented on #229
@ajburls I've deploy the application on production, could you test it to see if you have the same error, thanks?

[2017-09-21 16:55] ajburls commented on #229
@SimonLab I have just gone to https://www.bestevidence.info deleted all cookies and tried to set up a new account. I already had an account so I logged in and old history is there. Is that what was supposed to happen? I will continue to test, it's just that I thought the history would have been deleted.

[2017-09-21 17:00] SimonLab commented on #229
@ajburls sorry I forgot to reset the database (I only deploy the last version of the application). I am working on a fix at the moment but as soon as a new version is ready I will deploy again and make sure I reset the database, thanks for the reminder :+1:

[2017-09-21 17:00] ajburls commented on #229
@SimonLab I have done a few searches and the sequences that I was doing before and all is well. The only thing is that the recent searches doesn't update with the most recent searches if they were ever done in the past. I have both phone switched off and will now try them.

[2017-09-21 17:07] ajburls commented on #229
@SimonLab It was going really well but then I got the internal server error. Was using iPhone. Android still switched off. Now error occurring on computer on "ranitidine" :-(

[2017-09-21 17:44] SimonLab commented on #229
@ajburls I've added some check on the code and deployed on staging and production and reset the database. Could you try again to reproduce the error. Thanks again for testing this, I'll try to keep an eye on the server logs to see if I can catch more information about the error if it occurs

[2017-09-21 18:10] ajburls commented on #229
@SimonLab @markwilliamfirth Tested so far on computer and looking good :-)
All searches worked with various repeats etc. but also most recent search is showing in "recent searches", even is done before so that bug appears to be fixed.

Now to test with the killer iPhone.... ;-)

[2017-09-21 18:11] SimonLab commented on #229
Thanks @ajburls I saw a lot of green tea searches :)
I'll keep an eye on the logs

[2017-09-21 18:14] ajburls commented on #229
@SimonLab I am afraid the apple was poisoned. I have just had the internal server error.

[2017-09-21 18:14] SimonLab commented on #229
![image](https://user-images.githubusercontent.com/6057298/30711583-1bcebef0-9f01-11e7-93cb-2dbc3db87c22.png)

I think there was an error :(

[2017-09-21 18:24] SimonLab commented on #229
@ajburls I finally manage to reproduce the error on my side! I think it is due to a trailing space on the searches which is not removed when we look in the database if the search term already exists.
I will create a fix soon for this and we can test again. Sorry it takes a bit of time to find out what was happening. I have now a better idea on what is the issue and confident we can fix it soon.

[2017-09-21 18:32] ajburls commented on #229
@SimonLab Well done!  I have created a second account which I have been using on the Android and haven't managed to break it yet but I might try doing so deliberately now I know the problem ;-)

[2017-09-21 18:34] ajburls commented on #229
@SimonLab Yup - did it on Android. You are right about source of problem. I am about to leave office and will be going home so not able to test for a while. Could you re-set database when you next load up so that it is as clean as possible for when we start using it.